Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

feat(core): enhance Serbian election model with repository and simulation
  packages/core/test/mocks/old_serbian_electoral_system_simulation/core/dhondt_calculator.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/domain.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/entities.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/i_domain_models.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/model_entries.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/model/serbian_election_model.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/repo/serbian_election_repo.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/repository.dart
  packages/core/test/mocks/serbian_election/bin/run_simulation.dart
  packages/core/test/mocks/serbian_election/lib/domain.dart
  packages/core/test/mocks/serbian_election/lib/serbian_election_model.dart
  packages/core/test/mocks/serbian_election/lib/src/core/dhondt_calculator.dart
  packages/core/test/mocks/serbian_election/lib/src/domain/serbian_election_domain.dart
  packages/core/test/mocks/serbian_election/lib/src/entities/glasac.dart
  packages/core/test/mocks/serbian_election/lib/src/entities/model_entries.dart
  packages/core/test/mocks/serbian_election/test/serbian_election_simulation_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): implement Serbian demographics generator and remove legacy files
  packages/core/test/mocks/old_serbian_electoral_system_simulation/demografski_generator.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/serbian_demographics_generator.dart
  packages/core/test/mocks/serbian_election/bin/election_simulation.dart
  packages/core/test/mocks/serbian_election/lib/serbian_election.dart
  packages/core/test/mocks/serbian_election/lib/src/demographics_generator.dart
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(core): remove legacy Serbian electoral system files and update D'Hondt calculator
  packages/core/test/mocks/old_serbian_electoral_system_simulation/core/dhondt_calculator.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/dhondt_calculator.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/dhondt_calculator_test.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/domain.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/entities.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/entities.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/i_domain_models.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/gen/model_entries.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/model.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/model/serbian_election_model.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/repo/serbian_election_repo.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/repository.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/serbian_election_domain.dart
  packages/core/test/mocks/serbian_election/lib/src/dhondt_calculator.dart
  packages/core/test/mocks/serbian_election/test/dhondt_calculator_test.dart
  packages/core/test/mocks/serbian_election/test/serbian_election_simulation_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): implement comprehensive Serbian election simulation
  packages/core/test/mocks/serbian_election/bin/simulation_all_levels.dart
  packages/core/test/mocks/serbian_election/lib/serbian_election.dart
  packages/core/test/mocks/serbian_election/lib/src/dhondt_calculator.dart
  packages/core/test/mocks/serbian_election/lib/src/domain.dart
  packages/core/test/mocks/serbian_election/lib/src/entities.dart
  packages/core/test/mocks/serbian_election/lib/src/model.dart
  packages/core/test/mocks/serbian_election/lib/src/repository.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): add domain model for Serbian electoral system
  packages/core/test/mocks/serbian_election/requirements/domain_model.md
Due: none

feat(core): enhance AggregateRoot implementation and introduce event-driven policies
  packages/core/lib/domain/application/application_service/application_service.dart
  packages/core/lib/domain/model/aggregate_root/README.md
  packages/core/lib/domain/model/aggregate_root/aggregate_root.dart
  packages/core/lib/domain/model/policy/i_event_triggered_policy.dart
  packages/core/lib/domain/model/policy/policy_engine.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mocks/serbian_election/bin/aggregate_demo.dart
  packages/core/test/mocks/serbian_election/lib/src/domain.dart
  packages/core/test/model/aggregate_root/aggregate_root_test.dart
  packages/core/test/model/aggregate_root/basic_aggregate_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(rules): add multiple agent rules for software development best practices
  .cursor/rules/README.md
  .cursor/rules/architecture-design.mdc
  .cursor/rules/code-quality.mdc
  .cursor/rules/devops-cicd.mdc
  .cursor/rules/documentation-agent.mdc
  .cursor/rules/domain-modeling.mdc
  .cursor/rules/example-rule.mdc
  .cursor/rules/integration-platform.mdc
  .cursor/rules/product-management.mdc
  .cursor/rules/project-management.mdc
  .cursor/rules/release-publishing.mdc
  .cursor/rules/testing-qa.mdc
  .cursor/rules/user-experience.mdc
Due: none

feat(core): add index and articles for EDNet Core Domain Modeling series
  articles/core_domain_modeling/Mastering Aggregate Roots in EDNet Core: Building Robust Domain Models.md
  articles/core_domain_modeling/The Entity Pattern in EDNet Core: Building Rich Domain Models.md
  articles/core_domain_modeling/index.md
Due: none

feat(core): add introductory article for EDNet Core Domain Modeling
  articles/core_domain_modeling/Introduction to EDNet Core Domain Modeling.md
Due: none

feat(core): add articles on Event Sourcing, Meta-Modeling, and Policies in EDNet Core
  articles/core_domain_modeling/Event Sourcing and Domain Events.md
  articles/core_domain_modeling/Introduction to EDNet Core Domain Modeling.md
  articles/core_domain_modeling/Meta-Modeling with Concepts.md
  articles/core_domain_modeling/Policies and Rules - Enforcing Domain Logic.md
  articles/core_domain_modeling/The Command-Event-Policy Cycle.md
  articles/core_domain_modeling/Working with Entity Collections in EDNet Core.md
Due: none

feat(core): add articles on domain-specific languages and universal political models
  articles/core_domain_modeling/Domain-Specific Languages with EDNet One Interpreter.md
  articles/core_domain_modeling/From National Elections to Global Governance: Building a Universal Political Domain Model with EDNet Core.md
  articles/core_domain_modeling/Implementing a Universal Political Domain Model with EDNet Core.md
  articles/core_domain_modeling/Repository Pattern in EDNet Core: Persistent Domain Models.md.md
  articles/core_domain_modeling/index.md
  articles/core_domain_modeling/upcoming/API-First Domain Models with EDNet OpenAPI.md
  articles/core_domain_modeling/upcoming/Distributed Domain Models with EDNet P2P.MD
  articles/core_domain_modeling/upcoming/Persistent Domain Models with EDNet Drift.md
  articles/core_domain_modeling/upcoming/Type-Safe Domain Modeling with EDNet Types.md
Due: none

fix(core): refine API-First Domain Models article
  articles/core_domain_modeling/upcoming/API-First Domain Models with EDNet OpenAPI.md
Due: none

feat(core): add comprehensive articles on domain-specific languages and political domain modeling
  articles/core_domain_modeling/current/Domain-Specific Languages with EDNet One Interpreter.md
  articles/core_domain_modeling/current/Event Sourcing and Domain Events.md
  articles/core_domain_modeling/current/From National Elections to Global Governance: Building a Universal Political Domain Model with EDNet Core.md
  articles/core_domain_modeling/current/Implementing a Universal Political Domain Model with EDNet Core.md
  articles/core_domain_modeling/current/Introduction to EDNet Core Domain Modeling.md
  articles/core_domain_modeling/current/Mastering Aggregate Roots in EDNet Core: Building Robust Domain Models.md
  articles/core_domain_modeling/current/Meta-Modeling with Concepts.md
  articles/core_domain_modeling/current/index.md
  articles/core_domain_modeling/upcoming/Distributed Domain Models with EDNet P2P.MD
Due: none

chore(roadmap): update milestones and progress status
  ROADMAP.md
Due: none

chore(roadmap): update milestones and restructure goals
  ROADMAP.md
Due: none

refactor(ednet_event_storming): replace package with ednet_flow and update publishing scripts
  melos.yaml
  packages/ednet_event_storming/CHANGELOG.md
  packages/ednet_event_storming/README.md
  packages/ednet_event_storming/example/basic_example.dart
  packages/ednet_event_storming/example/integration_example.dart
  packages/ednet_event_storming/lib/ednet_event_storming.dart
  packages/ednet_event_storming/lib/src/analysis/domain_analyzer.dart
  packages/ednet_event_storming/lib/src/export/model_exporter.dart
  packages/ednet_event_storming/lib/src/model/aggregate.dart
  packages/ednet_event_storming/lib/src/model/command.dart
  packages/ednet_event_storming/lib/src/model/domain_event.dart
  packages/ednet_event_storming/lib/src/model/element.dart
  packages/ednet_event_storming/lib/src/model/external_system.dart
  packages/ednet_event_storming/lib/src/model/hot_spot.dart
  packages/ednet_event_storming/lib/src/model/policy.dart
  packages/ednet_event_storming/lib/src/model/read_model.dart
  packages/ednet_event_storming/lib/src/model/role.dart
  packages/ednet_event_storming/lib/src/session/event_storming_board.dart
  packages/ednet_event_storming/lib/src/session/participant.dart
  packages/ednet_event_storming/lib/src/session/storming_session.dart
  packages/ednet_event_storming/lib/src/visualization/board_renderer.dart
  packages/ednet_event_storming/pubspec.yaml
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(roadmap): overhaul and expand EDNet CMS roadmap
  packages/cms/ROADMAP.md
Due: none

Fix aggregate_root_test.dart to handle Model constructor and event recording properly
  packages/core/test/model/aggregate_root/aggregate_root_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(core): remove deprecated graph and repository components
  packages/core/lib/domain/infrastructure.dart
  packages/core/lib/domain/infrastructure/graph.dart
  packages/core/lib/domain/infrastructure/graph/domain_model_graph.dart
  packages/core/lib/domain/infrastructure/graph/edge.dart
  packages/core/lib/domain/infrastructure/graph/edge_direction.dart
  packages/core/lib/domain/infrastructure/graph/edge_type.dart
  packages/core/lib/domain/infrastructure/graph/node.dart
  packages/core/lib/domain/infrastructure/graph/node_type.dart
  packages/core/lib/domain/infrastructure/repository.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mocks/old_serbian_electoral_system_simulation/serbian_election_domain.dart
  packages/core/test/mocks/serbian_election/SIMULATION.STATE
  packages/core/test/mocks/serbian_election/test/dhondt_calculator_test.dart
  packages/core/test/tdd_memory.md
Due: EDNetOne CI, EDNetCMS Pub CI

feat(ednet_one_interpreter): introduce new UI components and layout management
  packages/ednet_flow/add_part_of_directive.sh
  packages/ednet_flow/cleanup_part_directives.sh
  packages/ednet_flow/fix_imports.sh
  packages/ednet_flow/migrate_to_library.sh
  packages/ednet_flow/update_imports.dart
  packages/ednet_one_interpreter/lib/domain_model_visualization/domain_model_visualization.dart
  packages/ednet_one_interpreter/lib/features/domain_visualization/domain_visualization_screen.dart
  packages/ednet_one_interpreter/lib/main.dart
  packages/ednet_one_interpreter/lib/models/model_registry.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/domain_block.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/domain_event.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/domain_state.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/layout_block.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/layout_event.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/layout_initial.dart
  packages/ednet_one_interpreter/lib/presentation/blocs/layout_state.dart
  packages/ednet_one_interpreter/lib/presentation/games/init_game.dart
  packages/ednet_one_interpreter/lib/presentation/games/visualization_game.dart
  packages/ednet_one_interpreter/lib/presentation/screens/domain_detail_screen.dart
  packages/ednet_one_interpreter/lib/presentation/screens/graph_application.dart
  packages/ednet_one_interpreter/lib/presentation/screens/home_page.dart
  packages/ednet_one_interpreter/lib/presentation/screens/model_detail_screen.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/graph/algorithms/master_detail_layout_algorithm.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/web/footer_widget.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/web/header_widget.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/web/left_sidebar_widget.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/web/main_content_widget.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/web/right_sidebar_widget.dart
  packages/ednet_one_interpreter/lib/shell_app.dart
  packages/ednet_one_interpreter/lib/simple_demo.dart
  packages/ednet_one_interpreter/lib/staging/one_application.dart
  packages/ednet_one_interpreter/lib/theme.dart
  packages/ednet_one_interpreter/pubspec.yaml
  packages/ednet_one_interpreter/test/widget_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(domain_model_visualization): enhance concept selection and navigation features
  packages/ednet_one_interpreter/lib/domain_model_visualization/domain_model_visualization.dart
  packages/ednet_one_interpreter/lib/features/domain_visualization/domain_visualization_screen.dart
  packages/ednet_one_interpreter/lib/generated/staging/one_application.dart
  packages/ednet_one_interpreter/lib/models/model_registry.dart
  packages/ednet_one_interpreter/lib/presentation/widgets/layout/graph/algorithms/master_detail_layout_algorithm.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore(dependencies): update ednet_core version to ^1.0.0 across multiple files
  packages/code_generation/lib/src/doc_gen.dart
  packages/code_generation/lib/src/ednet_code_generator.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(ednet_flow): restructure library and enhance import management
  packages/ednet_flow/lib/ednet_flow.dart
  packages/ednet_flow/lib/src/domain_visualization/adapters/core_adapter.dart
  packages/ednet_flow/lib/src/domain_visualization/algorithms/circular_layout_algorithm.dart
  packages/ednet_flow/lib/src/domain_visualization/algorithms/dijkstra_layout_algorithm.dart
  packages/ednet_flow/lib/src/domain_visualization/algorithms/grid_layout_algorithm.dart
  packages/ednet_flow/lib/src/domain_visualization/algorithms/mst_layout_algorithm.dart
  packages/ednet_flow/lib/src/domain_visualization/card/entity_widget.dart
  packages/ednet_flow/lib/src/domain_visualization/layout/graph_layout.dart
  packages/ednet_flow/lib/src/domain_visualization/layout/layout_algorithm.dart
  packages/ednet_flow/lib/src/event_storming/session/storming_session.dart
  packages/ednet_flow/lib/src/event_storming/visualization/board_renderer.dart
  packages/ednet_flow/lib/src/graph/domain_model_graph.dart
  packages/ednet_flow/lib/src/graph/edge.dart
  packages/ednet_flow/lib/src/graph/edge_direction.dart
  packages/ednet_flow/lib/src/graph/edge_type.dart
  packages/ednet_flow/lib/src/graph/node.dart
  packages/ednet_flow/lib/src/graph/node_type.dart
  packages/ednet_flow/lib/src/process_flow/model/process.dart
  packages/ednet_flow/lib/src/process_flow/visualization/process_renderer.dart
  packages/ednet_flow/pubspec.yaml
  packages/openapi/pubspec.yaml
  packages/types/doc/pubspec.txt
  packages/types/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

feat(entity_management): refactor entity handling and enhance UI components
  apps/one/lib/main.dart
  apps/one/lib/presentation/screens/domain_detail_screen.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/screens/model_detail_screen_scaffold.dart
  apps/one/lib/presentation/widgets/domain/entity_widget.dart
  apps/one/lib/presentation/widgets/layout/alternative/alternative_layout.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
  apps/one/macos/Podfile.lock
  apps/one/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/one/pubspec.yaml
Due: EDNetOne CI

refactor(domain_bloc): improve code readability and formatting
  apps/one/lib/generated/one_application.dart
  apps/one/lib/presentation/blocs/domain_block.dart
  apps/one/lib/presentation/blocs/domain_state.dart
  apps/one/lib/presentation/games/init_game.dart
  apps/one/lib/presentation/games/visualization_game.dart
Due: EDNetOne CI

refactor(one): Reorganize theme files and create theme service
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
  apps/one/lib/presentation/blocs/theme_block.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/theme/theme.dart
  apps/one/lib/presentation/theme/theme_constants.dart
  apps/one/lib/presentation/theme/theme_service.dart
Due: EDNetOne CI

refactor(one): Reorganize widget files and standardize naming conventions
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
  apps/one/lib/presentation/pages/domain_detail_page.dart
  apps/one/lib/presentation/pages/graph_page.dart
  apps/one/lib/presentation/pages/home_page.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/state/blocs/domain_block.dart
  apps/one/lib/presentation/state/blocs/domain_event.dart
  apps/one/lib/presentation/state/blocs/domain_state.dart
  apps/one/lib/presentation/state/blocs/layout_block.dart
  apps/one/lib/presentation/state/blocs/layout_event.dart
  apps/one/lib/presentation/state/blocs/layout_initial.dart
  apps/one/lib/presentation/state/blocs/layout_state.dart
  apps/one/lib/presentation/state/blocs/theme_block.dart
  apps/one/lib/presentation/state/blocs/theme_event.dart
  apps/one/lib/presentation/widgets/domain/domains_list_widget.dart
  apps/one/lib/presentation/widgets/layout/sidebar_entries_widget.dart
Due: EDNetOne CI

refactor(one): remove unused GitHub repository and theme files
  apps/one/lib/infrastructure/github_repository.dart
  apps/one/lib/presentation/theme.dart
  apps/one/lib/roadmap/application/ednet_core_architecture.ednet.yaml
  apps/one/lib/roadmap/application/settings.ednet.yaml
  apps/one/lib/roadmap/democracy/direct.ednet.yaml
  apps/one/lib/roadmap/democracy/electoral.ednet.yaml
  apps/one/lib/roadmap/democracy/one.ednet.yaml
  apps/one/lib/roadmap/email/gmail.ednet.yaml
  apps/one/lib/roadmap/project/brainstorming.ednet.yaml
  apps/one/lib/roadmap/project/calendar.ednet.yaml
  apps/one/lib/roadmap/project/gtd.ednet.yaml
  apps/one/lib/roadmap/project/kanban.ednet.yaml
  apps/one/lib/roadmap/project/planning.ednet.yaml
  apps/one/lib/roadmap/project/scheduling.ednet.yaml
  apps/one/lib/roadmap/project/user.ednet.yaml
Due: EDNetOne CI

refactor(one): Split DomainBloc into feature-specific blocs and create service providers
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_event.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_state.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_event.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_state.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_event.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_state.dart
  apps/one/lib/presentation/state/providers/domain_service.dart
  apps/one/lib/staging/i_one_application.dart
Due: EDNetOne CI

feat(one): Implement dependency injection for blocs and services
  apps/one/lib/main.dart
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/di/service_locator.dart
Due: EDNetOne CI

docs(one): Update progress in refactoring plan
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
Due: EDNetOne CI

fix(one): Restore theme dropdown and theme switching functionality
  apps/one/lib/main.dart
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/di/service_locator.dart
  apps/one/lib/presentation/pages/home_page.dart
  apps/one/lib/presentation/state/blocs/theme_bloc/theme_bloc.dart
  apps/one/lib/presentation/state/blocs/theme_bloc/theme_event.dart
  apps/one/lib/presentation/state/blocs/theme_bloc/theme_state.dart
Due: EDNetOne CI

feat(one): Enhance theme management and update dependencies
  apps/one/lib/presentation/pages/graph_page.dart
  apps/one/lib/presentation/screens/graph_application.dart
  apps/one/lib/presentation/state/blocs/theme_bloc/theme_bloc.dart
  apps/one/lib/presentation/state/providers/domain_service.dart
  apps/one/lib/presentation/theme/text_styles.dart
  apps/one/lib/presentation/theme/theme.dart
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
  apps/one/lib/presentation/theme/theme_components/cli_theme_component.dart
  apps/one/lib/presentation/theme/theme_components/minimalistic_theme_component.dart
  apps/one/lib/presentation/theme/theme_components/theme_component.dart
  apps/one/lib/presentation/theme/theme_service.dart
  apps/one/lib/staging/i_one_application.dart
  apps/one/lib/staging/one_application.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(one): Enhance Cheerful theme component with Material 3 design
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
Due: EDNetOne CI

feat(one): Update CLI theme component for Material 3 compliance
  apps/one/lib/presentation/theme/theme_components/cli_theme_component.dart
Due: EDNetOne CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
