Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

feat(shell): introduce enhanced shell application with multi-domain support
  apps/one/lib/enhanced_shell.dart
  apps/one/lib/main.dart
  apps/one/lib/multi_domain_shell.dart
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): introduce immersive workspace feature with modular components
  apps/one/lib/main.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/workspace/immersive_workspace_page.dart
  apps/one/lib/presentation/widgets/workspace/concept_workspace_card.dart
  apps/one/lib/presentation/widgets/workspace/domain_workspace_card.dart
  apps/one/lib/presentation/widgets/workspace/immersive_workspace_container.dart
  apps/one/lib/presentation/widgets/workspace/model_workspace_card.dart
Due: EDNetOne CI

feat(one): introduce Model Instance Management features
  apps/one/lib/domain/services/model_instance_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/model_instance/model_instance_page.dart
  packages/core/lib/domain/infrastructure/persistence/shared_preferences_repository.dart
  packages/core/lib/domain/infrastructure/repository.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(project): enhance project management features and introduce new entity forms
  apps/one/lib/domain/entities/project_entity.dart
  apps/one/lib/domain/services/MEMORY.md
  apps/one/lib/domain/services/model_instance_service.dart
  apps/one/lib/domain/services/persistence_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/providers/project_provider.dart
  apps/one/lib/presentation/widgets/domain_model_editor.dart
  apps/one/lib/presentation/widgets/entity_form.dart
  apps/one/lib/presentation/widgets/project_entity_form.dart
  apps/one/lib/presentation/widgets/project_form.dart
Due: EDNetOne CI

feat(one): introduce EntityDetailPage and refactor layout components
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/layout_customization_tutorial.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
  apps/one/lib/presentation/widgets/canvas/unified_visualization_canvas.dart
  apps/one/lib/presentation/widgets/entity/responsive_entity_container.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/network_flow_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/web/entity_detail_page.dart
Due: EDNetOne CI

feat(one): implement Holy Trinity architecture with layout and theme providers
  apps/one/lib/generated/settings/application/lib/settings/application/model.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/ARCHITECTURE.md
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/README.md
  apps/one/lib/presentation/domain/domain_model_provider.dart
  apps/one/lib/presentation/layouts/providers/layout_provider.dart
  apps/one/lib/presentation/layouts/strategy/compact_layout_strategy.dart
  apps/one/lib/presentation/layouts/strategy/detailed_layout_strategy.dart
  apps/one/lib/presentation/layouts/strategy/layout_strategy.dart
  apps/one/lib/presentation/pages/entity_detail_page.dart
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/lib/presentation/theme/strategy/standard_theme_strategy.dart
  apps/one/lib/presentation/theme/strategy/theme_strategy.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_collection_view.dart
  apps/one/lib/presentation/widgets/layout/semantic_layout_requirements.dart
  apps/one/lib/presentation/widgets/layout/web/entity_detail_page.dart
  apps/one/lib/presentation/widgets/samples/holy_trinity_sample.dart
  apps/one/lib/presentation/widgets/semantic_concept_container.dart
  apps/one/lib/presentation/widgets/tools/README.md
  apps/one/lib/presentation/widgets/tools/fix_bloc_warnings.dart
  apps/one/lib/presentation/widgets/tools/fix_dead_code.dart
  apps/one/lib/presentation/widgets/tools/fix_opacity_api.dart
  apps/one/lib/presentation/widgets/tools/fix_unused_imports.dart
  apps/one/lib/presentation/widgets/tools/fix_unused_variables.dart
  apps/one/lib/presentation/widgets/tools/run_cleanup.sh
  apps/one/lib/presentation/widgets/tools/update_material_apis.dart
Due: EDNetOne CI

delete(home_page): remove unused home_page.dart file to streamline codebase
  lib/presentation/pages/home/home_page.dart
Due: none

Add fixes for Project Management module implementation
  apps/one/lib/domain/repositories/entity_repository.dart
  apps/one/lib/domain/repositories/entity_repository_impl.dart
  apps/one/lib/generated/one_application.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/project_management/project_management_page.dart
  apps/one/lib/presentation/theme/extensions/theme_extensions.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/macos/Podfile.lock
Due: EDNetOne CI

chore(core_patterns): remove deprecated files and clean up package structure
  packages/core_patterns/ednet_core_patterns/.gitignore
  packages/core_patterns/ednet_core_patterns/CHANGELOG.md
  packages/core_patterns/ednet_core_patterns/README.md
  packages/core_patterns/ednet_core_patterns/example/ednet_core_patterns_example.dart
  packages/core_patterns/ednet_core_patterns/lib/ednet_core_patterns.dart
  packages/core_patterns/ednet_core_patterns/lib/src/INDEX.md
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_base.dart
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_eip_tasks.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/aggregator/aggregator.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/canonical/canonical_model.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/channel/adapter/channel_adapter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/base_message.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/channel.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_models.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_types.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/filter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/message_filter.dart
  packages/core_patterns/ednet_core_patterns/pubspec.yaml
  packages/core_patterns/ednet_core_patterns/test/ednet_core_patterns_test.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters_test.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/aggregator/aggregator_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/canonical/canonical_model_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_ednet_core_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): enhance entity management and persistence features
  apps/one/lib/domain/extensions/domain_model_extensions.dart
  apps/one/lib/domain/extensions/one_application_persistence_extension.dart
  apps/one/lib/domain/providers/entity_provider.dart
  apps/one/lib/domain/repositories/entity_repository.dart
  apps/one/lib/domain/repositories/entity_repository_impl.dart
  apps/one/lib/domain/repositories/serializable_entity_repository.dart
  apps/one/lib/domain/repositories/serializable_repository_factory.dart
  apps/one/lib/domain/services/persistence_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/domain_modeler/domain_model_editor.dart
  apps/one/lib/presentation/pages/domain_modeler/domain_modeler_page.dart
  apps/one/lib/presentation/pages/examples/entity_persistence_example_page.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/state/blocs/entity/entity_bloc.dart
  apps/one/lib/presentation/state/blocs/entity/entity_event.dart
  apps/one/lib/presentation/state/blocs/entity/entity_state.dart
  apps/one/lib/presentation/widgets/entity/entity_dialog.dart
  apps/one/lib/presentation/widgets/entity/entity_form.dart
  apps/one/lib/presentation/widgets/workspace/concept_workspace_card.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(one): enhance ModelDetailPage and related components with semantic layout and spacing
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/theme/extensions/theme_spacing.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_collection_view.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/lib/presentation/widgets/semantic_concept_container.dart
  lib/presentation/pages/home/home_page.dart
Due: EDNetOne CI

feat(one): refactor presentation layer with modular architecture and enhanced navigation
  apps/one/lib/main.dart
  apps/one/lib/presentation/ARCHITECTURE.md
  apps/one/lib/presentation/FOLLOWUP.md
  apps/one/lib/presentation/MEMORY.md
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/layouts/app_module.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/domain_explorer/domain_detail_view.dart
  apps/one/lib/presentation/modules/domain_explorer/domain_explorer_module.dart
  apps/one/lib/presentation/modules/model_manager/model_detail_view.dart
  apps/one/lib/presentation/modules/model_manager/model_manager_module.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/domain_selector.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_event.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_event.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/lib/presentation/widgets/breadcrumb/breadcrumb.dart
  apps/one/lib/presentation/widgets/card/enhanced_card.dart
  apps/one/lib/presentation/widgets/list/enhanced_list_item.dart
Due: EDNetOne CI

refactor(domain-model): update EDNetOne description and adjust application rules
  .cursor/rules/domain-model.mdc
  .cursor/rules/testing-qa.mdc
  .cursor/rules/user-experience.mdc
Due: none

feat(persistence): enhance shell application with persistence and master-detail navigation
  packages/ednet_core_flutter/README-persistence.md
  packages/ednet_core_flutter/dev_notes/MasterDetailPrototype.memory
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/domain/domain_session_extension.dart
  packages/ednet_core_flutter/lib/src/domain/visualization/node.dart
  packages/ednet_core_flutter/lib/src/shell/README.md
  packages/ednet_core_flutter/lib/src/shell/example/shell_app_with_master_detail.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/lib/src/shell/shell_persistence.dart
  packages/ednet_core_flutter/lib/src/ui/components/canvas/painters/entity_painter.dart
  packages/ednet_core_flutter/lib/src/ui/components/canvas/painters/relation_painter.dart
  packages/ednet_core_flutter/lib/src/ui/components/domain_sidebar.dart
  packages/ednet_core_flutter/lib/src/ui/components/forms/constraint_validated_form.dart
  packages/ednet_core_flutter/lib/src/ui/components/layout/master_detail_navigator.dart
  packages/ednet_core_flutter/lib/src/ui/components/list/domain_list_item.dart
  packages/ednet_core_flutter/lib/src/ui/components/samples/holy_trinity_sample.dart
  packages/ednet_core_flutter/lib/src/ui/constraint_validator_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/example/attribute_constraints_example.dart
  packages/ednet_core_flutter/lib/src/ui/field_builder.dart
  packages/ednet_core_flutter/lib/src/ui/field_descriptor.dart
  packages/ednet_core_flutter/lib/src/ui/layout/layout_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/layout_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/navigation/domain_navigation_types.dart
  packages/ednet_core_flutter/lib/src/ui/theme/extensions/domain_sidebar_theme_extension.dart
  packages/ednet_core_flutter/pubspec.yaml
  packages/ednet_core_flutter/test/constraint_validation_test.dart
  packages/ednet_core_flutter/test/mocks/mock_domain_factory.dart
  packages/ednet_core_flutter/test/shell/shell_persistence_test.dart
  packages/ednet_core_flutter/test/shell_persistence_test.dart
  packages/ednet_core_flutter/test/test_helpers.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(tests): add unit tests for MockDomainFactory to validate domain creation
  packages/ednet_core_flutter/test/mocks/mock_domain_factory.dart
  packages/ednet_core_flutter/test/mocks/mock_domain_factory_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(validation): introduce type constraint validation and enhance attribute constraints
  packages/core/lib/domain/core/constraints/constraint.dart
  packages/core/lib/domain/core/type_constraint_validator.dart
  packages/core/lib/domain/model/transfer/json.dart
  packages/core/lib/ednet_core.dart
  packages/core/lib/meta/types.dart
  packages/core/lib/utilities/dsl/bootstrap_domain_model_from_yaml.dart
  packages/core/lib/utilities/dsl/mock/domain_model.yaml
  packages/core/lib/utilities/dsl/visualization/domain_model_graph.dart
  packages/core/lib/utilities/dsl/visualization/graph_visualitazion_widget.dart
  packages/core/test/core/validation/attribute_constraints_yaml_parsing_test.dart
  packages/core/test/core/validation/attribute_type_test.dart
  packages/core/test/core/validation/attribute_type_validation_test.dart
  packages/core/test/core/validation/type_constraint_validator_test.dart
  packages/core/test/yaml_data/test_with_constraints.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(samples): remove Holy Trinity sample widget
  packages/archive/presentation/widgets/samples/holy_trinity_sample.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(main): refactor application entry point to enhance initialization and shell integration
  apps/one/lib/main.dart
Due: EDNetOne CI

chore(dependencies): update SDK and package versions in pubspec.yaml
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(development): implement development mode channel and sample data management
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/development_mode_channel.dart
  packages/ednet_core_flutter/lib/src/shell/development_mode_test_fixes.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_persistence.dart
  packages/ednet_core_flutter/test/development_mode_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(shell): implement multi-domain navigation and sidebar enhancements
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/navigation/shell_navigation_service.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/lib/src/shell/shell_domain_manager.dart
  packages/ednet_core_flutter/lib/src/ui/components/bookmarks/bookmark_service.dart
  packages/ednet_core_flutter/lib/src/ui/components/sidebar/sidebar_container.dart
  packages/ednet_core_flutter/lib/src/ui/components/sidebar/tree_artefact_sidebar.dart
  packages/ednet_core_flutter/lib/src/ui/components/tree_artifact_sidebar.dart
  packages/ednet_core_flutter/test/ui/components/tree_artifact_sidebar_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(sidebar): Enhance sidebar with toggle and tree view support
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_domain_manager.dart
  packages/ednet_core_flutter/lib/src/ui/components/sidebar/sidebar_container.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: Add ChangeNotifier support for domain switching in ShellApp
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/lib/src/shell/shell_domain_manager.dart
  packages/ednet_core_flutter/test/shell/domain_selection_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

refactor: simplify null checks and remove unused imports
  packages/core/lib/domain/core/constraints/constraint.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/error/validation_exceptions.dart
  packages/core/lib/domain/model/policy/policy_engine.dart
  packages/core/lib/domain/model/reference.dart
  packages/core/lib/domain/patterns/filter/ednet_core_message_filter.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/commands/add/add_command_test.dart
  packages/core/test/commands/past/past_command_test.dart
  packages/core/test/commands/remove/remove_command_test.dart
  packages/core/test/commands/set_attribute/set_attribute_command_test.dart
  packages/core/test/commands/transaction/transaction_test.dart
  packages/core/test/core/repository/repository_test.dart
  packages/core/test/domain/modeling/serializable_test.dart
  packages/core/test/entity/entity/entity_test.dart
  packages/core/test/error_handling/validation/validation_exceptions_test.dart
  packages/core/test/mocks/serbian_election/bin/aggregate_demo.dart
  packages/core/test/mocks/serbian_election/bin/run_simulation.dart
  packages/core/test/mocks/serbian_election/lib/serbian_election_model.dart
  packages/core/test/mocks/serbian_election/lib/src/demographics_generator.dart
  packages/core/test/model/entries/model_entries_test.dart
  packages/core/test/policy/attribute/attribute_policy_test.dart
  packages/core/test/policy/composite/composite_policy_test.dart
  packages/core/test/policy/engine/policy_engine_test.dart
  packages/core/test/policy/entity/entity_policies_test.dart
  packages/core/test/policy/time_based/time_based_policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

refactor: transition DomainSelector to a stateless widget and enhance styling
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/test/shell/domain_selection_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: enhance DomainNavigator with settings dialog and update DomainSelector styling
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: enhance shell structure with new components and configuration
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/commands/entity_update_command.dart
  packages/ednet_core_flutter/lib/src/shell/configuration/shell_configuration.dart
  packages/ednet_core_flutter/lib/src/shell/context/global_context.dart
  packages/ednet_core_flutter/lib/src/shell/development_mode_test_fixes.dart
  packages/ednet_core_flutter/lib/src/shell/runner/shell_app_runner.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/lib/src/ui/components/concept/concept_explorer.dart
  packages/ednet_core_flutter/lib/src/ui/components/domain/domain_selector.dart
  packages/ednet_core_flutter/lib/src/ui/components/domain/domain_selector_style.dart
  packages/ednet_core_flutter/lib/src/ui/components/domain/domain_sidebar.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: introduce meta-model management and persistence features
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/configuration/shell_configuration.dart
  packages/ednet_core_flutter/lib/src/shell/meta_model_manager.dart
  packages/ednet_core_flutter/lib/src/shell/meta_model_persistence_manager.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
  packages/ednet_core_flutter/lib/src/shell/shell_domain_manager.dart
  packages/ednet_core_flutter/lib/src/shell/shell_persistence.dart
  packages/ednet_core_flutter/lib/src/ui/components/meta_model/meta_model_dialogs.dart
  packages/ednet_core_flutter/lib/src/ui/components/tree_artifact_sidebar.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: implement generic entity form for dynamic entity management
  packages/core/lib/domain/model/transfer/json.dart
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/configuration/shell_configuration.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/ui/components/entity/generic_entity_form.dart
  packages/ednet_core_flutter/lib/src/ui/factory/entity_factory.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: unify entity management and enhance theme capabilities
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/MEMORY.md
  packages/ednet_core_flutter/lib/src/shell/configuration/shell_configuration.dart
  packages/ednet_core_flutter/lib/src/shell/runner/shell_app_runner.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/ui/components/entity/entity_manager_view.dart
  packages/ednet_core_flutter/lib/src/ui/components/entity/semantic_entity_collection_view.dart
  packages/ednet_core_flutter/lib/src/ui/components/layout/responsive_semantic_wrapper.dart
  packages/ednet_core_flutter/lib/src/ui/extensions/entity_manager_extension.dart
  packages/ednet_core_flutter/lib/src/ui/theme/enhanced_theme_service.dart
  packages/ednet_core_flutter/lib/src/ui/theme/providers/theme_provider.dart
  packages/ednet_core_flutter/lib/src/ui/theme/theme_service.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: establish tidy-up agent rules for development practices
  .cursor/rules/tidy-up-agent.mdc
Due: none

feat: integrate EntityManagerView into navigation flow
  packages/ednet_core_flutter/lib/src/shell/MEMORY.md
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/navigation/shell_navigation_service.dart
  packages/ednet_core_flutter/lib/src/ui/components/domain/domain_sidebar.dart
  packages/ednet_core_flutter/test/shell/navigation_flow_test.dart
  packages/ednet_core_flutter/test/test_helpers/test_domain_model.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: introduce advanced feature management and documentation
  .cursor/rules/patterns.mdc
  packages/ednet_core_flutter/README.md
  packages/ednet_core_flutter/dev_notes/connected_features.dart
  packages/ednet_core_flutter/dev_notes/connected_features.md
  packages/ednet_core_flutter/dev_notes/enhanced_client_example.dart
  packages/ednet_core_flutter/dev_notes/enhanced_shell_integration.dart
  packages/ednet_core_flutter/dev_notes/shell_feature_integration_test.dart
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/configuration/shell_configuration.dart
  packages/ednet_core_flutter/lib/src/shell/example/client_app_example.dart
  packages/ednet_core_flutter/lib/src/shell/example/shell_app_with_master_detail.dart
  packages/ednet_core_flutter/lib/src/shell/fixes/advanced_features.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_persistence.dart
  packages/ednet_core_flutter/lib/src/ui/components/entity/entity_manager_view.dart
  packages/ednet_core_flutter/lib/src/ui/components/meta_model/meta_model_dialogs.dart
  packages/ednet_core_flutter/lib/src/ui/components/meta_model/meta_model_editor.dart
  packages/ednet_core_flutter/lib/src/ui/extensions/entity_manager_extension.dart
  packages/ednet_core_flutter/lib/src/ui/extensions/entity_ux_extension.dart
  packages/ednet_core_flutter/test/shell/domain_model_diffing_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
