Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

generate multiple submodels
  apps/ednet_core/tasks/lib/ednetcore/tasks/json/model.dart
  apps/ednet_core/tasks/model.json
  packages/core/bounded_context/application/application_service.dart
  packages/core/bounded_context/infrastructure/i_repository.dart
  packages/core/content/ednet/address/address.yaml
  packages/core/content/ednet/direct_democracy/direct_democracy.yaml
  packages/core/content/ednet/ednet.yaml
  packages/core/content/ednet/legislation/legislation.yaml
  packages/core/content/ednet/one/one.yaml
  packages/core/content/ednet/project_management/project_management.yaml
  packages/core/content/ednet/social_network/social_network.yaml
  packages/core/content/ednet/ui/scroll/scroll.yaml
  packages/core/content/ednet/ui/ui.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

extend EDNetDev monorepo License disclaimer file
  LICENSE
Due: none

Proposal for Collaboration on EDNetCore: A Meta Framework for Rapid Definition of Domain Models
  rfcs/README.md
  rfcs/rfc-ednetcore-meta-framework.md
Due: none

extend rfc with plans
  rfcs/rfc-ednetcore-meta-framework.md
Due: none

refactor rfc example from real to should
  rfcs/rfc-ednetcore-meta-framework.md
Due: none

cleanup for analyzer
  packages/core/analysis_options.yaml
  packages/core/lib/domain/infrastructure/repository.dart
  packages/core/lib/domain/model/commands/interfaces/i_basic_command.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/entity/id.dart
  packages/core/lib/domain/model/error/validation_exceptions.dart
  packages/core/lib/ednet_net.dart
  packages/core/lib/example.dart
  packages/core/lib/meta/concept.dart
  packages/core/pubspec.yaml
  packages/core/test/meta_model_test.dart
  packages/core/test/mock/user.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Core CHANGELOG.md
  packages/core/CHANGELOG.md
Due: none

0.0.1+1
  packages/core/CHANGELOG.md
  packages/core/README.md
Due: none

anonymize
  packages/core/doc/api/ednet_core/uriList.html
  packages/core/lib/gen/random_data.dart
Due: EDNetOne CI, EDNetCMS Pub CI

0.0.1+2 in pubspec.yaml
  packages/core/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

0.0.1+2 CHANGELOG.md
  packages/core/CHANGELOG.md
Due: none

Credentials
  packages/core/README.md
Due: none

Include RFC notice and current state
  packages/core/README.md
Due: none

correct publishing doc version to 0.0.1+2
  packages/core/doc/api/index.html
Due: EDNetOne CI, EDNetCMS Pub CI

domain html name conflict
  packages/core/doc/api/ednet_core/Domain-class.html
  packages/core/doc/api/ednet_core/Domain/domain2.html
  packages/core/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

depend on ednet_core: ^0.0.1+2
  apps/ednet_one/pubspec.yaml
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

depend on ednet_core: ^0.0.1+2
  apps/ednet_one/pubspec.lock
Due: EDNetOne CI

commit generated docs
  packages/ednet_cms/.gitignore
  packages/ednet_cms/doc/api/__404error.html
  packages/ednet_cms/doc/api/categories.json
  packages/ednet_cms/doc/api/ednet_cms/Content-class.html
  packages/ednet_cms/doc/api/ednet_cms/Content/Content.html
  packages/ednet_cms/doc/api/ednet_cms/Content/value.html
  packages/ednet_cms/doc/api/ednet_cms/Date-class.html
  packages/ednet_cms/doc/api/ednet_cms/Date/Date.html
  packages/ednet_cms/doc/api/ednet_cms/Date/value.html
  packages/ednet_cms/doc/api/ednet_cms/Number-class.html
  packages/ednet_cms/doc/api/ednet_cms/Number/Number.html
  packages/ednet_cms/doc/api/ednet_cms/Number/value.html
  packages/ednet_cms/doc/api/ednet_cms/Text-class.html
  packages/ednet_cms/doc/api/ednet_cms/Text/Text.html
  packages/ednet_cms/doc/api/ednet_cms/Text/value.html
  packages/ednet_cms/doc/api/ednet_cms/TextContent-class.html
  packages/ednet_cms/doc/api/ednet_cms/TextContent/TextContent.html
  packages/ednet_cms/doc/api/ednet_cms/ednet_cms-library.html
  packages/ednet_cms/doc/api/ednet_time/ednet_time-library.html
  packages/ednet_cms/doc/api/index.html
  packages/ednet_cms/doc/api/index.json
  packages/ednet_cms/doc/api/search.html
  packages/ednet_cms/doc/api/static-assets/docs.dart.js
  packages/ednet_cms/doc/api/static-assets/docs.dart.js.map
  packages/ednet_cms/doc/api/static-assets/favicon.png
  packages/ednet_cms/doc/api/static-assets/github.css
  packages/ednet_cms/doc/api/static-assets/highlight.pack.js
  packages/ednet_cms/doc/api/static-assets/play_button.svg
  packages/ednet_cms/doc/api/static-assets/readme.md
  packages/ednet_cms/doc/api/static-assets/search.png
  packages/ednet_cms/doc/api/static-assets/styles.css
  packages/ednet_cms/doc/api/time_calendar_calendar/time_calendar_calendar-library.html
Due: EDNetOne CI, EDNetCMS Pub CI

remove pubish_to and add version github permalink
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

ednet_core_gen submodule
  .gitmodules
Due: none

credentials
  packages/core/CHANGELOG.md
Due: none

extend ednet content with concepts of Citizen, Vote, Proposal and other core Direct Democracy concepts
  packages/content/context/ednet/direct_democracy/direct_democracy.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

init legislation schema with next gen DSL including policies, events and commands with subscriptions
  packages/content/context/ednet/direct_democracy/direct_democracy.yaml
  packages/content/context/ednet/legislation/legislation.yaml
  packages/content/context/ednet/legislation/legislation2.yaml
  packages/content/context/ednet/legislation/legislation_full.yaml
  packages/content/schema.json
  packages/core/README.md
Due: EDNetOne CI, EDNetCMS Pub CI
