Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

feat(one): Optimize Minimalistic theme component for Material 3
  apps/one/lib/presentation/theme/theme_components/minimalistic_theme_component.dart
Due: EDNetOne CI

feat(one): Refactor entity components for improved modularity and maintainability
  apps/one/lib/presentation/widgets/entity/attribute_widget_factory.dart
  apps/one/lib/presentation/widgets/entity/entity_actions.dart
  apps/one/lib/presentation/widgets/entity/entity_attributes.dart
  apps/one/lib/presentation/widgets/entity/entity_header.dart
  apps/one/lib/presentation/widgets/entity/entity_relationships.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
Due: EDNetOne CI

feat(one): Refactor home page components for improved structure and modularity
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
  apps/one/lib/main.dart
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/domain_selector.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
Due: EDNetOne CI

feat(one): Remove HomePage component to streamline application structure
  apps/one/lib/presentation/pages/home_page.dart
Due: EDNetOne CI

feat(one): Refactor entity and domain components for improved structure and modularity
  apps/one/lib/presentation/pages/domain_detail_page.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/screens/domain_detail_screen.dart
  apps/one/lib/presentation/screens/model_detail_screen_scaffold.dart
  apps/one/lib/presentation/widgets/domain/domains_list_widget.dart
  apps/one/lib/presentation/widgets/domain/entity_widget.dart
  apps/one/lib/presentation/widgets/domain/models_widget.dart
  apps/one/lib/presentation/widgets/entity/bookmark_manager.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/layout/alternative/alternative_layout.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

feat(one): Enhance domain initialization and grouping with debug logging
  apps/one/lib/generated/one_application.dart
Due: EDNetOne CI

feat(one): Introduce MetaDomainCanvas and related components for domain visualization
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/widgets/canvas/interactions/pan_handler.dart
  apps/one/lib/presentation/widgets/canvas/interactions/selection_handler.dart
  apps/one/lib/presentation/widgets/canvas/interactions/zoom_handler.dart
  apps/one/lib/presentation/widgets/canvas/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/canvas/meta_domain_painter.dart
  apps/one/lib/presentation/widgets/canvas/painters/entity_painter.dart
  apps/one/lib/presentation/widgets/canvas/painters/grid_painter.dart
  apps/one/lib/presentation/widgets/canvas/painters/relation_painter.dart
  apps/one/lib/presentation/widgets/canvas/render_objects/canvas_entity.dart
  apps/one/lib/presentation/widgets/canvas/render_objects/canvas_relation.dart
Due: EDNetOne CI

feat(one): Remove domain and layout blocs to streamline codebase
  apps/one/lib/presentation/blocs/domain_block.dart
  apps/one/lib/presentation/blocs/domain_event.dart
  apps/one/lib/presentation/blocs/domain_state.dart
  apps/one/lib/presentation/blocs/layout_block.dart
  apps/one/lib/presentation/blocs/layout_event.dart
  apps/one/lib/presentation/blocs/layout_initial.dart
  apps/one/lib/presentation/blocs/layout_state.dart
  apps/one/lib/presentation/blocs/theme_block.dart
  apps/one/lib/presentation/blocs/theme_event.dart
  apps/one/lib/presentation/state/blocs/theme_block.dart
  apps/one/lib/presentation/theme/theme_service.dart
Due: EDNetOne CI

feat(one): Update dependencies and enhance HomeDrawer functionality
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/theme/theme_components/custom_colors.dart
  apps/one/lib/presentation/theme/theme_components/list_item_card.dart
  apps/one/lib/presentation/widgets/domain/models_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_attributes.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(one): Enhance HomeDrawer and HomePage functionality
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
Due: EDNetOne CI

refactor(one): Replace print statements with debugPrint for improved logging
  apps/one/lib/generated/settings/application/lib/settings/application/model.dart
  apps/one/lib/generated/settings/application/lib/settings/application/roles.dart
  apps/one/lib/main.dart
Due: EDNetOne CI

feat(one): Enhance HomePage initialization and entity selection process
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_event.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_bloc.dart
Due: EDNetOne CI

feat(one): Implement search functionality and improve entity handling
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/state/blocs/concept_selection/concept_selection_bloc.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

feat(one): Enhance HomeDrawer domain selection process with model and concept updates
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/widgets/entity/bookmark_manager.dart
Due: EDNetOne CI

feat(one): Centralize navigation logic for domain, model, and concept selection
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/domain_selector.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/state/navigation_helper.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_category_section.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_dialog.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_item.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_manager.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_model.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmark_sidebar.dart
  apps/one/lib/presentation/widgets/bookmarks/bookmarks_screen.dart
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
  apps/one/lib/presentation/widgets/navigation/breadcrumb/breadcrumb_item.dart
  apps/one/lib/presentation/widgets/navigation/breadcrumb/breadcrumb_path.dart
  apps/one/lib/presentation/widgets/navigation/breadcrumb/breadcrumb_separator.dart
  apps/one/lib/presentation/widgets/navigation/breadcrumb/breadcrumb_widget.dart
Due: EDNetOne CI

feat(one): Enhance HomePage and EntityWidget for improved layout and accessibility
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
  apps/one/lib/presentation/widgets/entity/entity_attributes.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/lib/presentation/widgets/layout/web/footer_widget.dart
Due: EDNetOne CI

feat: implement EntityCollectionView for better entity visualization
  apps/one/ENHANCE_ONE_EXPRESSIVNESS_OF_EDNET_CORE
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_collection_view.dart
Due: EDNetOne CI

Add RelationshipNavigator component for improved entity relationship traversal
  apps/one/ENHANCE_ONE_EXPRESSIVNESS_OF_EDNET_CORE
  apps/one/lib/PRESENTATION-REFACTORING-LONGTERM-MEMORY
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/lib/presentation/widgets/entity/relationship_navigator.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(one): Update HeaderWidget to support custom breadcrumb navigation
  apps/one/lib/presentation/pages/domain_detail_page.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/screens/domain_detail_screen.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/screens/model_detail_screen_scaffold.dart
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
Due: EDNetOne CI

feat(one): Introduce comprehensive filter management system
  apps/one/lib/presentation/state/providers/filter_manager.dart
  apps/one/lib/presentation/widgets/filters/attribute_filter.dart
  apps/one/lib/presentation/widgets/filters/filter_builder.dart
  apps/one/lib/presentation/widgets/filters/filter_criteria.dart
  apps/one/lib/presentation/widgets/filters/filter_drawer.dart
  apps/one/lib/presentation/widgets/filters/filter_preset.dart
  apps/one/lib/presentation/widgets/filters/relation_filter.dart
Due: EDNetOne CI

feat(one): Implement entity filtering system with dynamic filter management
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/filters/README.md
  apps/one/lib/presentation/widgets/filters/filter_button.dart
Due: EDNetOne CI

feat(one): Integrate Bookmark System for enhanced entity management
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/screens/model_detail_screen_scaffold.dart
  apps/one/lib/presentation/widgets/bookmarks/README.md
  apps/one/lib/presentation/widgets/entity/bookmark_manager.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

refactor(one): Update bookmark imports and enhance breadcrumb functionality
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
  apps/one/lib/presentation/widgets/navigation/breadcrumb/breadcrumb_widget.dart
Due: EDNetOne CI

fix: remove non-existent ednet_one_interpreter package references and add root pubspec.yaml
  melos.yaml
  packages/cms/pubspec.yaml
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore: Update .gitignore to include VSCode settings
  .gitignore
Due: none

feat: Add Dart Analyzer and Ednet Core Modeling Rules
  .cursor/rules/dart-analyzer.mdc
  .cursor/rules/domain-modeling-use-ednet-core.mdc
Due: none

chore(one): Downgrade shared_preferences dependency version from 2.5.3 to 2.2.2
  apps/one/pubspec.yaml
Due: EDNetOne CI

chore: Remove deprecated YAML files from content and value objects
  packages/content/context/design/design_system.yaml
  packages/content/context/ednet/authentication/authentication.yaml
  packages/content/context/ednet/direct_democracy/direct_democracy.yaml
  packages/content/context/ednet/ednet.yaml
  packages/content/context/ednet/geo/address.yaml
  packages/content/context/ednet/geo/coordinates.yaml
  packages/content/context/ednet/geo/location.yaml
  packages/content/context/ednet/geo/position.yaml
  packages/content/context/ednet/one/one.yaml
  packages/content/context/ednet/project_management/project_management.yaml
  packages/content/context/ednet/social_network/social_network.yaml
  packages/content/context/ednet/ui/scroll/scroll.yaml
  packages/content/context/ednet/ui/ui.yaml
  packages/content/example/example.yaml
  packages/content/next_gen/legislation/legislation.yaml
  packages/content/next_gen/legislation/legislation2.yaml
  packages/content/next_gen/legislation/legislation_full.yaml
  packages/content/value_objects/email.yaml
  packages/content/value_objects/money.yaml
  packages/content/value_objects/name.yaml
  packages/content/value_objects/primitives/bool.yaml
  packages/content/value_objects/primitives/date_time.yaml
  packages/content/value_objects/primitives/double.yaml
  packages/content/value_objects/primitives/int.yaml
  packages/content/value_objects/primitives/num.yaml
  packages/content/value_objects/primitives/string.yaml
  packages/content/value_objects/telephone.yaml
  packages/content/value_objects/uri.yaml
  packages/types/pubspec.lock
Due: EDNetOne CI, EDNetCMS Pub CI

feat: Add script to automate Dart analyzer issue fixes
  scripts/fix_analyzer_issues.dart
Due: none

feat(one): Migrate screens to pages and enhance navigation
  apps/one/lib/main.dart
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/README.md
  apps/one/lib/presentation/pages/graph_page.dart
  apps/one/lib/presentation/screens/graph_application.dart
  pubspec.lock
Due: EDNetOne CI

feat(one): Introduce new pages and enhance routing for domain management
  apps/one/lib/main.dart
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/README.md
  apps/one/lib/presentation/pages/concepts_page.dart
  apps/one/lib/presentation/pages/domains_page.dart
  apps/one/lib/presentation/pages/entity_detail_page.dart
  apps/one/lib/presentation/pages/models_page.dart
  apps/one/lib/presentation/screens/domains_widget.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/web/left_sidebar_widget.dart
  apps/one/lib/presentation/widgets/layout/web/right_sidebar_widget.dart
  articles/ednet/ednet.md
  articles/sdf.md
  packages/core/test/mocks/serbian_election/lib/DOMAIN.md
  packages/core/test/mocks/serbian_election/lib/REQUIREMENTS.md
  packages/core/test/mocks/serbian_election/lib/src/domain.dart
  packages/core/test/mocks/serbian_election/requirements/SOFTWARE_DESIGN.md
  packages/core/test/mocks/serbian_election/requirements/model_izbornog_sistema_srbije.md
  packages/core/test/mocks/serbian_election/sdfsef.md
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Implement unified visualization framework with advanced interaction and layout algorithms
  apps/one/lib/presentation/widgets/canvas/interactions/enhanced_selection_handler.dart
  apps/one/lib/presentation/widgets/canvas/unified_visualization_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/bin_packing.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/enhanced_quadtree.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/optimized_force_directed.dart
  memory/visualization_refactoring.md
Due: EDNetOne CI

feat(one): Enhance graph visualization with improved navigation and debugging tools
  apps/one/lib/main.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/graph_page.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/screens/graph_application.dart
  apps/one/lib/presentation/widgets/canvas/unified_visualization_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/decorators/u_x_decorator.dart
Due: EDNetOne CI

feat(visualization): Refactor EDNet visualization framework for improved performance and user experience
  memory/visualization_refactoring.md
Due: none

feat(core_patterns): Introduce ednet_core_patterns package for Enterprise Integration Patterns
  melos.yaml
  packages/core_patterns/ednet_core_patterns/.gitignore
  packages/core_patterns/ednet_core_patterns/CHANGELOG.md
  packages/core_patterns/ednet_core_patterns/README.md
  packages/core_patterns/ednet_core_patterns/example/ednet_core_patterns_example.dart
  packages/core_patterns/ednet_core_patterns/lib/ednet_core_patterns.dart
  packages/core_patterns/ednet_core_patterns/lib/src/INDEX.md
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_base.dart
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_eip_tasks.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/aggregator/aggregator.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/canonical/canonical_model.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/channel/adapter/channel_adapter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/base_message.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/channel.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_models.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/message_filter.dart
  packages/core_patterns/ednet_core_patterns/pubspec.yaml
  packages/core_patterns/ednet_core_patterns/test/ednet_core_patterns_test.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/aggregator/aggregator_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/canonical/canonical_model_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Implement EDNet Core Message Filter pattern and fix HTTP types
  packages/core_patterns/ednet_core_patterns/lib/ednet_core_patterns.dart
  packages/core_patterns/ednet_core_patterns/lib/src/INDEX.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_types.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/filter.dart
  packages/core_patterns/ednet_core_patterns/pubspec.yaml
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_ednet_core_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
