Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

pubspec.lock
  apps/one/pubspec.lock
Due: EDNetOne CI

One: Fix ednet_core import path.
  apps/one/pubspec.yaml
Due: EDNetOne CI

chore(release): publish packages
  CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

EDNetCore: Make analyzer happy.
  packages/core/lib/domain/model/event/event.dart
  packages/core/lib/domain/model/policy/relationship_policy.dart
  packages/core/test/meta_model_test.dart
  packages/core/test/policy/policy_test.dart
  packages/core/test/policy/time_based_policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

EDNetOne: Podfile.lock
  apps/one/macos/Podfile.lock
Due: EDNetOne CI

feat(cms): New media cuts.
  media/logo_discord.png
  media/logo_discord_focus.png
  media/logo_discord_focus_wide.png
Due: none

chore: pubspec.lock
  apps/one/pubspec.lock
  packages/types/pubspec.lock
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): README.md for each domain
  CONTRIBUTING.md
  packages/core/lib/configuration/README.md
  packages/core/lib/domain/README.md
  packages/core/lib/gen/README.md
  packages/core/lib/utilities/README.md
Due: none

docs(core): Entity line docs.
  packages/core/lib/domain/model/entity/entity.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(cms): provide default domain name in code generation
  packages/cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore(release): publish packages
  CHANGELOG.md
  packages/cms/CHANGELOG.md
  packages/cms/pubspec.yaml
  packages/code_generation/CHANGELOG.md
  packages/code_generation/pubspec.yaml
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/types/CHANGELOG.md
  packages/types/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore: update dependencies in pubspec.yaml
  apps/one/pubspec.yaml
  packages/cms/pubspec.yaml
  packages/code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(release): publish packages
  CHANGELOG.md
  apps/one/pubspec.yaml
  packages/cms/CHANGELOG.md
  packages/cms/pubspec.yaml
  packages/code_generation/CHANGELOG.md
  packages/code_generation/pubspec.yaml
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/types/CHANGELOG.md
  packages/types/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(release): publish packages
  CHANGELOG.md
  packages/types/CHANGELOG.md
  packages/types/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(release): publish packages
  CHANGELOG.md
  apps/one/pubspec.yaml
  packages/cms/CHANGELOG.md
  packages/cms/pubspec.yaml
  packages/code_generation/CHANGELOG.md
  packages/code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(release): publish packages
  CHANGELOG.md
  apps/one/pubspec.yaml
  packages/cms/CHANGELOG.md
  packages/cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

docs(one): improve clarity in DSL.md overview
  apps/one/DSL.md
Due: none

chore(one): bump version to 1.0.1
  apps/one/pubspec.yaml
Due: EDNetOne CI

chore: downgrade package versions to 1.0.0 and update SDK constraints
  apps/one/pubspec.yaml
  packages/cms/pubspec.yaml
  packages/code_generation/pubspec.yaml
  packages/core/pubspec.yaml
  packages/types/pubspec.lock
  packages/types/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore: update CHANGELOG for version 1.0.0 release
  CHANGELOG.md
  packages/cms/CHANGELOG.md
  packages/code_generation/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/types/CHANGELOG.md
Due: none

chore(cms): downgrade ednet_core dependency to version 1.0.0
  devtools_options.yaml
  packages/code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(code_generation): refactor MetaInfo constructor and improve code formatting
  packages/code_generation/lib/src/ednet_code_generator.dart
  packages/code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore: downgrade ednet_core_default_app version to 1.0.0
  packages/types/pubspec.lock
Due: EDNetOne CI, EDNetCMS Pub CI

chore(melos): add publish configurations for multiple packages
  melos.yaml
Due: none

chore: downgrade ednet_core and ednet_code_generation versions, update dependencies
  packages/cms/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(cms): refactor code for improved readability and consistency
  packages/cms/bin/watch.dart
  packages/cms/lib/src/builders/cms_builder.dart
  packages/cms/lib/src/builders/content_watcher_builder.dart
  packages/cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore(cms): add yaml dependency version 3.1.3 to pubspec.yaml
  packages/cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(melos): update publish description for ednet_code_generation to exclude dependents
  melos.yaml
Due: none

chore: update contact information in README.md to include additional communication channels
  README.md
  apps/one/README.md
  packages/cms/README.md
  packages/code_generation/README.md
  packages/core/README.md
Due: none

chore: add contact information section to README.md with communication channels
  packages/types/README.md
  packages/types/ednet_core_types_source.txt
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to entities.dart
  apps/one/mergeall.sh
  packages/cms/mergeall.sh
  packages/code_generation/mergeall.sh
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/mergeall.sh
  packages/drift/.gitignore
  packages/drift/CHANGELOG.md
  packages/drift/README.md
  packages/drift/analysis_options.yaml
  packages/drift/example/ednet_drift_example.dart
  packages/drift/lib/ednet_drift_repository.dart
  packages/drift/lib/src/ednet_drift_repository.dart
  packages/drift/pubspec.yaml
  packages/drift/test/ednet_drift_repository_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to id.dart
  packages/core/lib/domain/model/entity/id.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_id.dart
  packages/core/lib/domain/model/entity/interfaces/i_id.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_entity.dart
  packages/core/lib/domain/model/entity/interfaces/i_entity.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_entities.dart
  packages/core/lib/domain/model/entity/interfaces/i_entities.dart
Due: EDNetOne CI, EDNetCMS Pub CI
