Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

feat(drift): add expression query adapter for advanced SQL translation
  packages/drift/lib/cqrs_drift.dart
  packages/drift/lib/src/cqrs/expression_query_adapter.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(drift): update README for EDNet Drift CQRS integration
  packages/drift/README.md
Due: none

feat(drift): add DriftQueryRepository and enhance query capabilities
  packages/drift/lib/cqrs_drift.dart
  packages/drift/lib/src/cqrs/command_adapter.dart
  packages/drift/lib/src/cqrs/drift_query_repository.dart
  packages/drift/lib/src/cqrs/drift_repository_extension.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(drift): enhance Drift command and query handling with new utilities
  packages/drift/lib/cqrs_drift.dart
  packages/drift/lib/src/cqrs/command_adapter.dart
  packages/drift/lib/src/cqrs/drift_query_repository.dart
  packages/drift/lib/src/cqrs/drift_repository_extension.dart
  packages/drift/lib/src/cqrs/query_adapter.dart
  packages/drift/lib/src/cqrs/rest_query_adapter.dart
  packages/drift/lib/src/cqrs/value_converter.dart
  packages/drift/test/ednet_drift_repository_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): enhance event handling and aggregate management
  packages/core/lib/domain/application/aggregate_root.dart
  packages/core/lib/domain/application/domain_event.dart
  packages/core/lib/domain/application/event_publisher.dart
  packages/core/lib/domain/application/event_store.dart
  packages/core/lib/domain/application/event_type_registry.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(drift): enhance CQRS repository with event sourcing, caching, and multi-tenancy features
  packages/drift/lib/cqrs_drift.dart
  packages/drift/lib/src/cqrs/auditable_repository.dart
  packages/drift/lib/src/cqrs/caching_repository.dart
  packages/drift/lib/src/cqrs/event_sourced_repository.dart
  packages/drift/lib/src/cqrs/multi_tenant_repository.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): implement entitlement system for authorization and access control
  packages/core/lib/domain/application.dart
  packages/core/lib/domain/application/entitlement/authorize_attribute.dart
  packages/core/lib/domain/application/entitlement/entitlement.dart
  packages/core/lib/domain/application/entitlement/entitlement_configuration.dart
  packages/core/lib/domain/application/entitlement/secure_application_service.dart
  packages/core/lib/domain/application/entitlement/secure_query_handler.dart
  packages/core/lib/domain/application/entitlement/security_context.dart
  packages/core/lib/ednet_core.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): add authorization mixin and policies for entity access control
  packages/core/lib/domain/application/entitlement/authorization_mixin.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): add entitlement example and testing framework for authorization
  packages/core/example/entitlement_example.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/entitlement/entitlement_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): add README for EDNet Core Entitlement System
  packages/core/lib/domain/application/entitlement/README.md
Due: none

feat(core): enhance EDNet Core with new application and query components
  packages/core/lib/domain/application.dart
  packages/core/lib/domain/application/application_service/application_service.dart
  packages/core/lib/domain/application/application_service/concept_application_service.dart
  packages/core/lib/domain/application/entitlement/secure_application_service.dart
  packages/core/lib/domain/application/entitlement/secure_query_handler.dart
  packages/core/lib/domain/application/query.dart
  packages/core/lib/domain/application/query_handler.dart
  packages/core/lib/domain/application/query_handler/base_query_handler.dart
  packages/core/lib/domain/application/query_handler/concept_query_handler.dart
  packages/core/lib/domain/application/query_handler/default_concept_query_handler.dart
  packages/core/lib/domain/application/query_handler/query_dispatcher.dart
  packages/core/lib/domain/application/query_result.dart
  packages/core/lib/domain/files.txt
  packages/core/lib/ednet_core.dart
  packages/ednet_event_storming/CHANGELOG.md
  packages/ednet_event_storming/README.md
  packages/ednet_event_storming/example/basic_example.dart
  packages/ednet_event_storming/lib/ednet_event_storming.dart
  packages/ednet_event_storming/lib/src/analysis/domain_analyzer.dart
  packages/ednet_event_storming/lib/src/export/model_exporter.dart
  packages/ednet_event_storming/lib/src/model/aggregate.dart
  packages/ednet_event_storming/lib/src/model/command.dart
  packages/ednet_event_storming/lib/src/model/domain_event.dart
  packages/ednet_event_storming/lib/src/model/external_system.dart
  packages/ednet_event_storming/lib/src/model/hot_spot.dart
  packages/ednet_event_storming/lib/src/model/policy.dart
  packages/ednet_event_storming/lib/src/model/read_model.dart
  packages/ednet_event_storming/lib/src/session/event_storming_board.dart
  packages/ednet_event_storming/lib/src/session/participant.dart
  packages/ednet_event_storming/lib/src/session/storming_session.dart
  packages/ednet_event_storming/lib/src/visualization/board_renderer.dart
  packages/ednet_event_storming/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(core): remove EventStorming implementation files
  packages/core/lib/domain/eventstorming.dart
  packages/core/lib/domain/eventstorming/es_aggregate.dart
  packages/core/lib/domain/eventstorming/es_bounded_context.dart
  packages/core/lib/domain/eventstorming/es_command.dart
  packages/core/lib/domain/eventstorming/es_connection.dart
  packages/core/lib/domain/eventstorming/es_editor.dart
  packages/core/lib/domain/eventstorming/es_element.dart
  packages/core/lib/domain/eventstorming/es_event.dart
  packages/core/lib/domain/eventstorming/es_external_system.dart
  packages/core/lib/domain/eventstorming/es_hotspot.dart
  packages/core/lib/domain/eventstorming/es_model.dart
  packages/core/lib/domain/eventstorming/es_policy.dart
  packages/core/lib/domain/eventstorming/es_read_model.dart
  packages/core/lib/domain/eventstorming/es_role.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(event_storming): introduce new Event Storming package with migration support
  packages/ednet_event_storming/README.md
  packages/ednet_event_storming/example/integration_example.dart
  packages/ednet_event_storming/lib/ednet_event_storming.dart
  packages/ednet_event_storming/lib/src/compatibility/es_adapter.dart
  packages/ednet_event_storming/lib/src/model/aggregate.dart
  packages/ednet_event_storming/lib/src/model/command.dart
  packages/ednet_event_storming/lib/src/model/domain_event.dart
  packages/ednet_event_storming/lib/src/model/element.dart
  packages/ednet_event_storming/lib/src/model/external_system.dart
  packages/ednet_event_storming/lib/src/model/hot_spot.dart
  packages/ednet_event_storming/lib/src/model/policy.dart
  packages/ednet_event_storming/lib/src/model/read_model.dart
  packages/ednet_event_storming/lib/src/visualization/board_renderer.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(event_storming): remove ESAdapter and introduce EventStormingRole
  packages/ednet_event_storming/lib/src/compatibility/es_adapter.dart
  packages/ednet_event_storming/lib/src/model/command.dart
  packages/ednet_event_storming/lib/src/model/role.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(melos): add ednet_event_storming package to melos.yaml
  melos.yaml
Due: none

chore: remove generated Flutter files and pubspec.lock from git tracking
  apps/one/linux/flutter/generated_plugin_registrant.cc
  apps/one/linux/flutter/generated_plugins.cmake
  apps/one/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/one/pubspec.lock
  apps/one/windows/flutter/generated_plugin_registrant.cc
  apps/one/windows/flutter/generated_plugins.cmake
Due: EDNetOne CI

refactor: update dependencies and imports for ednet_one_interpreter integration
  apps/one/lib/main.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

docs(core): add comprehensive DartDoc comments to i_past_command.dart
  packages/core/lib/domain/model/event/interfaces/i_past_command.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to event.dart
  packages/core/lib/domain/model/event/event.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_model_entries.dart
  packages/core/lib/domain/model/i_model_entries.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): add concept-based query handling and application services
  packages/core/lib/domain/application.dart
  packages/core/lib/domain/application/application_service/concept_application_service.dart
  packages/core/lib/domain/application/query_handler/concept_query_handler.dart
  packages/core/lib/domain/application/query_handler/default_concept_query_handler.dart
  packages/core/lib/domain/model.dart
  packages/core/lib/domain/model/queries/concept_query.dart
  packages/core/lib/domain/model/queries/entity_query_result.dart
  packages/core/lib/domain/model/queries/interfaces/i_query.dart
  packages/core/lib/domain/model/queries/interfaces/i_query_result.dart
  packages/core/lib/domain/model/queries/query.dart
  packages/core/lib/domain/model/queries/query_dispatcher.dart
  packages/core/lib/domain/model/queries/query_result.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to policy_scope.dart
  packages/core/lib/domain/model/policy/policy_scope.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): enhance query capabilities with expression-based system
  packages/core/README.md
  packages/core/lib/domain/model/queries/expression_query.dart
  packages/core/lib/domain/model/queries/expression_query_handler.dart
  packages/core/lib/domain/model/queries/expressions/query_expression.dart
  packages/core/lib/domain/model/queries/query_builder.dart
  packages/core/lib/ednet_core.dart
  packages/core/lib/examples/query_examples.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to oid.dart
  packages/core/lib/domain/model/oid.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_policy.dart
  packages/core/lib/domain/model/policy/i_policy.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): update policy documentation todo list
  packages/core/lib/domain/model/policy/todo.md
Due: none

docs(core): add comprehensive DartDoc comments to policy_evaluation_tracer.dart
  packages/core/lib/domain/model/policy/policy_evaluation_tracer.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to policy_violation_exception.dart
  packages/core/lib/domain/model/policy/policy_violation_exception.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore: add ednet_one_interpreter package to melos.yaml for project integration
  melos.yaml
Due: none

chore: update gitignore files to better manage generated and build files
  .gitignore
  packages/cms/.gitignore
  packages/code_generation/.gitignore
  packages/core/.gitignore
  packages/types/.gitignore
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to i_past.dart
  packages/core/lib/domain/model/event/interfaces/i_past.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): introduce application layer and enhance domain model structure
  packages/core/lib/domain/application.dart
  packages/core/lib/domain/bounded_context.dart
  packages/core/lib/domain/domain_models.dart
  packages/core/lib/domain/i_domain_models.dart
  packages/core/lib/domain/infrastructure.dart
  packages/core/lib/domain/model.dart
  packages/core/lib/domain/session.dart
Due: EDNetOne CI, EDNetCMS Pub CI

docs(core): add comprehensive DartDoc comments to past.dart
  packages/core/lib/domain/model/event/past.dart
Due: EDNetOne CI, EDNetCMS Pub CI

test(drift): add unit tests for DriftCommandAdapter functionality
  packages/drift/test/cqrs/command_adapter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI
