Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

extend DSL
  packages/content/schema.json
Due: EDNetOne CI, EDNetCMS Pub CI

integrate ednet_core_gen in monorepo
  .gitmodules
Due: none

ednet auth domain model
  packages/content/context/ednet/authentication/authentication.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

compile ednet_semantics
  .gitmodules
  packages/content/example/example.yaml
  packages/core/CHANGELOG.md
  packages/core/doc/api/ednet_core/Entities/concept.html
  packages/core/lib/domain/model/entity/entities.dart
Due: EDNetOne CI, EDNetCMS Pub CI

ednet_code_gen => ednet_code_generation
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/.gitignore
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/LICENSE
  packages/ednet_code_generation/README.md
  packages/ednet_code_generation/bin/doc_gen.dart
  packages/ednet_code_generation/bin/ednet_core_gen.dart
  packages/ednet_code_generation/bin/lib_gen.dart
  packages/ednet_code_generation/bin/test_gen.dart
  packages/ednet_code_generation/bin/web_gen.dart
  packages/ednet_code_generation/doc/DSL.md
  packages/ednet_code_generation/doc/gen.txt
  packages/ednet_code_generation/doc/git/github.txt
  packages/ednet_code_generation/doc/pubspec.txt
  packages/ednet_code_generation/doc/todo.txt
  packages/ednet_code_generation/dsl/schema.yaml
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

init 'dart pub run ednet_cms:build'
  packages/ednet_cms/bin/build_ednet_cms.dart
  packages/ednet_cms/bin/pubspec.lock
  packages/ednet_cms/bin/pubspec.yaml
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

sync
  packages/ednet_cms/bin/build_ednet_cms.dart
  packages/ednet_code_generation/bin/ednet_code_generation.dart
Due: EDNetOne CI, EDNetCMS Pub CI

bump core to the v0.0.1+4
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

streamline all packages to v0.0.1+4
  packages/core/CHANGELOG.md
Due: none

generation: bump ednet_core: ^0.0.1+4
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

cms: bump core and gen to v0.0.1+4
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

fix homepages link
  packages/core/pubspec.yaml
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

allow more than one code generation version
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

missing dependency args: ^2.4.0
  packages/ednet_cms/bin/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

correct pubspec for dependency args: ^2.4.0
  packages/ednet_cms/bin/pubspec.yaml
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

root CHANGELOG sync: init release EDNetCore, EDNetCoreGen, EDNetCMS with locked versioning
  CHANGELOG.md
Due: none

**0.0.1+5** + Tag based GitHub Actions publishing of core, gen and cms
  .github/workflows/publish.yaml
  CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

**0.0.1+6** 2023-03-10 + Debug Github CI/CD
  CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/bin/pubspec.yaml
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore: CI/CD sequential jobs
  .github/workflows/publish.yaml
Due: none

chore(release): publish packages
  .dart_tool/package_config.json
  CHANGELOG.md
  apps/ednet_one/pubspec.yaml
  apps/ednet_one/pubspec_overrides.yaml
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/ednet_cms/bin/.gitignore
  packages/ednet_cms/bin/pubspec_overrides.yaml
  packages/ednet_cms/pubspec.yaml
  packages/ednet_cms/pubspec_overrides.yaml
  packages/ednet_code_generation/pubspec.yaml
  packages/ednet_code_generation/pubspec_overrides.yaml
  pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

.gtiignore
  .gitignore
  apps/ednet_one/.gitignore
  apps/ednet_one/pubspec.lock
  packages/ednet_cms/.gitignore
  packages/ednet_cms/bin/.gitignore
  packages/ednet_cms/bin/pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

v0.0.1+7
  apps/ednet_one/pubspec.lock
  melos.yaml
  packages/core/CHANGELOG.md
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

rm from index pubspec_overrides.yaml
  packages/ednet_code_generation/pubspec_overrides.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

melos bootstrap
  apps/ednet_one/lib/src/domain/social_network/social_network.dart
  apps/ednet_one/lib/src/ui/sample_feature/sample_item_list_view.dart
  melos.yaml
  packages/core/bounded_context/application/application_service.dart
  packages/core/lib/domain/application/i_authorizable_entity.dart
  packages/core/lib/domain/i_domain_models.dart
  packages/core/lib/domain/model/aggregate_root/aggregate_root.dart
  packages/core/lib/domain/model/commands/add_command.dart
  packages/core/lib/domain/model/commands/interfaces/i_command.dart
  packages/core/lib/domain/model/commands/interfaces/i_entities_command.dart
  packages/core/lib/domain/model/commands/set_attribute_command.dart
  packages/core/lib/domain/model/commands/set_child_command.dart
  packages/core/lib/domain/model/commands/set_parent_command.dart
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/entity/interfaces/i_id.dart
  packages/core/lib/domain/model/error/i_validation_exception.dart
  packages/core/lib/domain/model/event/interfaces/i_command_reaction.dart
  packages/core/lib/domain/model/event/interfaces/i_past_command.dart
  packages/core/lib/domain/model/event/interfaces/i_source_of_command_reaction.dart
  packages/core/lib/domain/model/event/interfaces/i_source_of_past_reaction.dart
  packages/core/lib/domain/model/i_model_entries.dart
  packages/core/lib/gen/ednet_concept_generic.dart
  packages/core/lib/gen/ednet_domain_generic.dart
  packages/core/lib/gen/ednet_domain_specific.dart
  packages/core/lib/gen/ednet_library_app.dart
  packages/core/lib/gen/ednet_model_specific.dart
  packages/core/lib/gen/ednet_test.dart
  packages/core/lib/gen/ednet_web.dart
  packages/core/lib/gen/random.dart
  packages/core/lib/gen/random_data.dart
  packages/core/lib/meta/attributes.dart
  packages/core/lib/meta/domains.dart
  packages/core/scripts/um.dart
  packages/ednet_cms/lib/time/ednet_time.dart
  packages/ednet_code_generation/bin/doc_gen.dart
Due: EDNetOne CI, EDNetCMS Pub CI

cleanup
  packages/ednet_cms/bin/pubspec_overrides.yaml
  packages/ednet_cms/pubspec_overrides.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

ci: tune melos.yaml
  melos.yaml
Due: none

fix: ednet_core bug
  packages/core/README.md
Due: none

feat(ednet_cms): ednet_cms feature
  packages/ednet_cms/README.md
Due: none

feat(ednet_code_generation): feature
  packages/ednet_code_generation/README.md
Due: none

chore(release): publish packages
  CHANGELOG.md
  apps/ednet_one/pubspec.yaml
  packages/core/CHANGELOG.md
  packages/core/pubspec.yaml
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/CHANGELOG.md
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

chore(ednet_one): bump ednet_core
  apps/ednet_one/pubspec.lock
Due: EDNetOne CI

temp disable .gitignore of .dart-tool
  packages/ednet_cms/.gitignore
Due: EDNetOne CI, EDNetCMS Pub CI

feat(ednet_cms): init CmsBuilder
  packages/ednet_cms/build.yaml
  packages/ednet_cms/content/example.yaml
  packages/ednet_cms/ednet_cms/content/example.yaml
  packages/ednet_cms/lib/integrations/build.dart
  packages/ednet_cms/lib/src/generation/cms_builder.dart
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI
