Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

circular_layout_algorithm.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

ednet_code_generation -> code_generation
  packages/code_generation/.gitignore
  packages/code_generation/CHANGELOG.md
  packages/code_generation/LICENSE
  packages/code_generation/README.md
  packages/code_generation/bin/ednet_code_generation.dart
  packages/code_generation/doc/gen.txt
  packages/code_generation/doc/git/github.txt
  packages/code_generation/doc/pubspec.txt
  packages/code_generation/doc/todo.txt
  packages/code_generation/dsl/schema.yaml
  packages/code_generation/lib/ednet_code_generation.dart
  packages/code_generation/lib/src/doc_gen.dart
  packages/code_generation/lib/src/ednet_code_generator.dart
  packages/code_generation/lib/src/lib_gen.dart
  packages/code_generation/lib/src/test_gen.dart
  packages/code_generation/lib/src/web_gen.dart
  packages/code_generation/source_code.txt
Due: EDNetOne CI, EDNetCMS Pub CI

Text on Nodes
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/components/component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/node.dart
  apps/one/lib/presentation/widgets/layout/graph/components/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/render_component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/system.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

git ignore
  packages/types/.dart_tool/extension_discovery/vs_code.json
Due: EDNetOne CI, EDNetCMS Pub CI

Zoom in/out.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

Order.
  apps/one/lib/requirements/project/core.ednet.yaml
Due: EDNetOne CI

Breadcrumbs.
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
Due: EDNetOne CI

Fix DSL syntax.
  apps/one/lib/requirements/project/core.ednet.yaml
Due: EDNetOne CI

fix(one): Entity rendering.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

feat(core): Documentation.
  packages/core/lib/doc/api/__404error.html
  packages/core/lib/doc/api/categories.json
  packages/core/lib/doc/api/index.html
  packages/core/lib/doc/api/index.json
  packages/core/lib/doc/api/search.html
  packages/core/lib/doc/api/static-assets/docs.dart.js
  packages/core/lib/doc/api/static-assets/docs.dart.js.map
  packages/core/lib/doc/api/static-assets/favicon.png
  packages/core/lib/doc/api/static-assets/github.css
  packages/core/lib/doc/api/static-assets/highlight.pack.js
  packages/core/lib/doc/api/static-assets/play_button.svg
  packages/core/lib/doc/api/static-assets/readme.md
  packages/core/lib/doc/api/static-assets/search.svg
  packages/core/lib/doc/api/static-assets/styles.css
Due: EDNetOne CI, EDNetCMS Pub CI

to graph
  apps/one/lib/presentation/widgets/layout/graph/components/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Text on Nodes
  apps/one/lib/presentation/widgets/layout/graph/components/system.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Layout.
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

last tidbid
  .dart_tool/package_config.json
Due: none

Show just Aggregate roots.
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
Due: EDNetOne CI

Radial algorithm.
  apps/one/lib/presentation/widgets/layout/graph/algorithms/force_directed_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/quadtree.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/radial_tree_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Remove .dart_tool folder
  .flutter-plugins-dependencies
Due: none

impl(one): DSL.md
  apps/one/DSL.md
Due: none

flame
  apps/one/assets/entity.svg
  apps/one/lib/presentation/games/init_game.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
Due: EDNetOne CI

Lines
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Generate domainModels lookup table.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(apdf): Scan from execution dir if no args provided.
  tools/apdf/lib/src/commands/generate_pdf_command.dart
Due: none

.gitIgnore
  .gitignore
Due: none

feat(one): README.md
  apps/one/README.md
Due: none

circular_layout_algorithm.dart
  apps/one/lib/presentation/games/init_game.dart
  apps/one/lib/presentation/games/visualization_game.dart
  apps/one/lib/presentation/screens/graph_application.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/alternative/alternative_layout.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/components/component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

pubspec.yaml -> sdk: '>=3.5.0-180.3.beta <4.0.0'
  apps/ednet_one/pubspec.lock
  apps/ednet_one/pubspec.yaml
  apps/one/lib/generated/communication/chat/pubspec.yaml
  apps/one/lib/generated/democracy/direct/pubspec.yaml
  apps/one/lib/generated/household/finance/pubspec.yaml
  apps/one/lib/generated/household/member/pubspec.yaml
  apps/one/lib/generated/project/brainstorming/pubspec.yaml
  apps/one/lib/generated/project/core/pubspec.yaml
  apps/one/lib/generated/project/gtd/pubspec.yaml
  apps/one/lib/generated/project/kanban/pubspec.yaml
  apps/one/lib/generated/project/planning/pubspec.yaml
  apps/one/lib/generated/project/scheduling/pubspec.yaml
  apps/one/lib/generated/project/user/pubspec.yaml
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
  packages/cms/pubspec.yaml
  packages/code_generation/pubspec.yaml
  packages/core/pubspec.yaml
  pubspec.lock
  pubspec.yaml
  tools/apdf/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

ref(one): Nullable Concept.
  packages/core/lib/domain/model/entity/entity.dart
Due: EDNetOne CI, EDNetCMS Pub CI

circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Selected node glow.
  apps/one/lib/presentation/widgets/layout/graph/components/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Safe entity.
  apps/one/lib/presentation/widgets/layout/graph/algorithms/radial_tree_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
  packages/core/lib/meta/concept.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Documentation.
  apps/one/CONTRIBUTING.md
  apps/one/DSL.md
  apps/one/README.md
  packages/core/documentation/DSL.md
  packages/ednet_code_generation/doc/DSL.md
Due: none

Bump packages.
  pubspec.lock
Due: none

README.md
  apps/one/README.md
  packages/cms/README.md
Due: none

Remove flutter plugins
  .flutter-plugins
  .flutter-plugins-dependencies
  ROADMAP.md
  packages/cms/.flutter-plugins-dependencies
Due: EDNetOne CI, EDNetCMS Pub CI

IOneApplication
  packages/cms/lib/src/builders/content_watcher_builder.dart
  packages/core/lib/domain/model/entity/interfaces/i_entities.dart
  packages/core/lib/domain/model/entity/interfaces/i_entity.dart
  packages/core/lib/ednet_core.dart
  packages/core/lib/gen/i_one_application.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
