Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

Codemagic base64 --decode for secred
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - pub.dev publishing
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - log
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - trigger EDNetOne CI only on main
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - bump EDNetCMS version to 0.0.1+2
  codemagic.yaml
  packages/ednet_cms/CHANGELOG.md
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - comment out branch patterns
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - enable branch patterns
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - update package
  packages/ednet_cms/test/ednet_cms_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - Fix branch pattern syntax
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - Log steps in script with echo
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - Log env variables
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - Do not evaluate labels in echo
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - List identified $HOME for config.json
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - Init flutter config clone
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - use CM_BUILD_DIR instead of HOME for current build home
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - missing $
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - try $FLUTTER_ROOT
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - try $HOME/.config/pub-credentials.json
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - try $HOME/.config/FLUTTER/pub-credentials.json or maybe DART?
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - try $HOME/.config/dart/pub-credentials.json
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - exclude App CI on packages update
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - mkdir $HOME/.config/dart/
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Debug CI stages - use dart pub publish --force
  melos.yaml
Due: none

Debug CI stages - define XDG_CONFIG_HOME as $HOME/.config/
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Disable pub.dev CI over Codemagic due
  codemagic.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

fix compile
  .gitignore
Due: none

sync content
  logo-small.png
  logo.png
  packages/ednet_cms/lib/ednet_cms.dart
Due: EDNetOne CI, EDNetCMS Pub CI

pubspec.lock
  apps/ednet_one/pubspec.lock
Due: EDNetOne CI

pubspec
  apps/ednet_one/pubspec.lock
Due: EDNetOne CI

media init
  media/logo-transparent-1024.png
  media/logo-transparent.png
  media/logo.png
Due: none

update README.md with init introduction and motivation discussion
  README.md
Due: none

sync Calendar WIP
  packages/ednet_cms/lib/time/README.md
  packages/ednet_cms/lib/time/calendar/calendar.dart
  packages/ednet_cms/lib/time/ednet_time.dart
Due: EDNetOne CI, EDNetCMS Pub CI

sync Core WIP
  packages/core/ddd/domain_model/bounded_context/application/application_service.dart
  packages/core/ddd/domain_model/bounded_context/infrastructure/i_repository.dart
Due: EDNetOne CI, EDNetCMS Pub CI

sync WIP Templates
  templates/feature/domain.dart
  templates/feature/src/application.dart
  templates/feature/src/application/customer_service.dart
  templates/feature/src/model.dart
  templates/feature/src/model/address.dart
Due: none

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
