Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

Lint fix.
  .dart_tool/package_config.json
Due: none

fix(one): Breadcrumbs back.
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
Due: EDNetOne CI

RankedEmbeddingLayoutAlgorithm
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

feat(one): Improve Entity rendering.
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Graph basic structures.
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

feat(one): Dark theme.
  apps/one/lib/presentation/household_management/blocs/theme_block.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
Due: EDNetOne CI

impl(core): Prepare for criteria.
  .dart_tool/package_config.json
  apps/one/lib/main.dart
  apps/one/lib/presentation/household_management/application.dart
  apps/one/lib/presentation/household_management/one_application.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/header_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/test/widget_test.dart
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore: Upgrade.
  apps/one/macos/Podfile.lock
  apps/one/macos/Runner.xcodeproj/project.pbxproj
  apps/one/macos/Runner.xcworkspace/contents.xcworkspacedata
Due: EDNetOne CI

Data Structures for Graphs
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

domain(one): Extend suffixes in OneApplication.
  apps/one/lib/presentation/household_management/one_application.dart
Due: EDNetOne CI

chore: Upgrade.
  .flutter-plugins
  .flutter-plugins-dependencies
  apps/one/ios/Flutter/Debug.xcconfig
  apps/one/ios/Flutter/Release.xcconfig
  apps/one/ios/Podfile
  apps/one/linux/flutter/generated_plugin_registrant.cc
  apps/one/linux/flutter/generated_plugins.cmake
  apps/one/macos/Flutter/Flutter-Debug.xcconfig
  apps/one/macos/Flutter/Flutter-Release.xcconfig
  apps/one/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/one/macos/Podfile
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
  apps/one/windows/flutter/generated_plugin_registrant.cc
  apps/one/windows/flutter/generated_plugins.cmake
  packages/ednet_cms/.flutter-plugins
  packages/ednet_cms/.flutter-plugins-dependencies
  packages/ednet_cms/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

impl: DashboardScreen.
  apps/one/devtools_options.yaml
  apps/one/lib/generated/hausehold/project/lib/project/household/model.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_budget_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_gen.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_initiative_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_milestone_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_project_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_resource_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_role_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_skill_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_task_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_team_test.dart
  apps/one/lib/generated/hausehold/project/test/project/household/project_household_time_test.dart
  apps/one/lib/generated/hausehold/project/web/project/household/project_household_web.dart
  apps/one/lib/generated/user/library/lib/library/user/model.dart
  apps/one/lib/presentation/household_management/application.dart
  apps/one/lib/presentation/household_management/one_core_repository.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  apps/one/pubspec.lock
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Graph bold.
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

Fix AVLTree
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

feat(one): Implement Alternative layout.
  apps/one/lib/presentation/household_management/blocs/layout_block.dart
  apps/one/lib/presentation/household_management/blocs/layout_event.dart
  apps/one/lib/presentation/household_management/blocs/layout_initial.dart
  apps/one/lib/presentation/household_management/blocs/layout_state.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/theme.dart
  apps/one/lib/presentation/household_management/widgets/layout/alternative_layout.dart
  apps/one/lib/presentation/household_management/widgets/layout/header_widget.dart
Due: EDNetOne CI

Icon style and on hover.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/theme.dart
  apps/one/lib/presentation/widgets/layout/graph/components/layout_algorithm_icon.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

Refactor layout.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/web/footer_widget.dart
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
  apps/one/lib/presentation/widgets/layout/web/left_sidebar_widget.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
  apps/one/lib/presentation/widgets/layout/web/right_sidebar_widget.dart
Due: EDNetOne CI

to graph
  packages/core/lib/domain/model/criteria/filter_criteria.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/entity/interfaces/i_entities.dart
  packages/core/lib/domain/model/entity/interfaces/i_entity.dart
  packages/core/lib/domain/model/reference.dart
  packages/core/lib/meta/attribute.dart
  packages/core/lib/meta/concept.dart
  packages/core/lib/meta/domain.dart
  packages/core/lib/meta/models.dart
  packages/core/lib/meta/neighbor.dart
  packages/core/lib/meta/parent.dart
  packages/core/lib/meta/property.dart
  packages/core/lib/meta/types.dart
Due: EDNetOne CI, EDNetCMS Pub CI

ios
  .flutter-plugins-dependencies
  apps/ednet_one/ios/Flutter/Debug.xcconfig
  apps/ednet_one/ios/Flutter/Release.xcconfig
  apps/ednet_one/ios/Podfile
  apps/ednet_one/macos/Flutter/Flutter-Debug.xcconfig
  apps/ednet_one/macos/Flutter/Flutter-Release.xcconfig
  apps/ednet_one/macos/Flutter/GeneratedPluginRegistrant.swift
  apps/ednet_one/macos/Podfile
  packages/core/lib/domain/model/entity/entity.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Lookup table.
  apps/one/lib/generated/one_application.dart
Due: EDNetOne CI

Center and zoom to graph.
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

Remove .dart_tool folder
  .dart_tool/package_config.json
  apps/one/lib/presentation/source_code.txt
  apps/one/lib/source_code.txt
  packages/core/lib/source_code.txt
Due: EDNetOne CI, EDNetCMS Pub CI

Zoom state.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

Chat model in Communication domain.
  apps/one/lib/requirements/communication/chat.ednet.yaml
Due: EDNetOne CI

Grouped domains.
  apps/one/lib/generated/one_application.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

to graph
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

Persist zoom state.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

fix(core): Missing `}`.
  packages/core/lib/configuration/yaml_source.dart
Due: EDNetOne CI, EDNetCMS Pub CI

last tidbid
  .flutter-plugins
  .flutter-plugins-dependencies
Due: none

save
  .dart_tool/package_config.json
Due: none

Remove .dart_tool folder
  apps/one/lib/presentation/source_code.txt
  apps/one/lib/source_code.txt
  packages/cms/lib/source_code.txt
  packages/core/lib/source_code.txt
  packages/types/.dart_tool/extension_discovery/README.md
  packages/types/.dart_tool/extension_discovery/vs_code.json
  packages/types/.dart_tool/package_config.json
  packages/types/.dart_tool/package_config_subset
  packages/types/.dart_tool/version
Due: EDNetOne CI, EDNetCMS Pub CI

graphview
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/layout/graph_layout.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

Grouped domains generated.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Migrate to ednet_core.
  packages/ednet_cms/bin/build_ednet_cms.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Cleanup.
  packages/core/lib/configuration/yaml_source.dart
Due: EDNetOne CI, EDNetCMS Pub CI

graphview
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/layout/graph_layout.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
Due: EDNetOne CI

Layout.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/web/layout_template.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
Due: EDNetOne CI

Render entities.
  apps/one/lib/presentation/blocs/theme_block.dart
  apps/one/lib/presentation/blocs/theme_event.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
  apps/one/lib/presentation/widgets/layout/web/left_sidebar_widget.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
  packages/core/lib/domain/model/model_entries.dart
  packages/core/lib/meta/concept.dart
Due: EDNetOne CI, EDNetCMS Pub CI
