Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

Migrate core patterns to ednet_core package - initial integration
  packages/core/lib/domain/patterns/aggregator/aggregator.dart
  packages/core/lib/domain/patterns/canonical/canonical_model.dart
  packages/core/lib/domain/patterns/channel/adapter/channel_adapter.dart
  packages/core/lib/domain/patterns/channel/channel_adapter.dart
  packages/core/lib/domain/patterns/common/base_message.dart
  packages/core/lib/domain/patterns/common/channel.dart
  packages/core/lib/domain/patterns/common/http_types.dart
  packages/core/lib/domain/patterns/docs/INDEX.md
  packages/core/lib/domain/patterns/filter/ednet_core_message_filter.dart
  packages/core/lib/domain/patterns/filter/ednet_core_message_filter.memory.md
  packages/core/lib/domain/patterns/filter/message_filter.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Update ednet_core.dart and add test files for EIP
  packages/core/lib/ednet_core.dart
  packages/core/test/domain/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Add migration plan for EDNet Core Patterns integration
  packages/core/lib/domain/patterns/docs/migration_plan.md
Due: none

Fix FilterEntity integration with EDNet Core Entity model and add proper tests
  packages/core/lib/domain/patterns/filter/ednet_core_message_filter.dart
  packages/core/test/domain/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core_patterns): Enhance EDNet Core with new Channel Adapter and Canonical Model implementations
  packages/core/lib/domain/patterns/canonical/canonical_model.dart
  packages/core/lib/domain/patterns/channel/adapter/channel_adapter.dart
  packages/core/lib/domain/patterns/channel/channel_adapter.dart
  packages/core/lib/domain/patterns/common/base_message.dart
  packages/core/lib/domain/patterns/common/http_types.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/domain/patterns/channel/channel_adapter_test.dart
  packages/core/test/domain/patterns/integration_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(entity): Improve entity comparison logic and enhance test coverage
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/test/entity/entities/entities_test.dart
  packages/core/test/entity/entity/entity_test.dart
  packages/core/test/mocks/ednet_democracy_domain.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore: update vscode settings
  .vscode/settings.json
Due: none

chore: remove vscode settings from git tracking
  .gitignore
  .vscode/settings.json
Due: none

feat(one): introduce EntityDetailPage and refactor layout components
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/layout_customization_tutorial.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/theme/theme_components/cheerful_theme_component.dart
  apps/one/lib/presentation/widgets/canvas/unified_visualization_canvas.dart
  apps/one/lib/presentation/widgets/entity/responsive_entity_container.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/network_flow_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/web/entity_detail_page.dart
Due: EDNetOne CI

feat(one): implement Holy Trinity architecture with layout and theme providers
  apps/one/lib/generated/settings/application/lib/settings/application/model.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/ARCHITECTURE.md
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/README.md
  apps/one/lib/presentation/domain/domain_model_provider.dart
  apps/one/lib/presentation/layouts/providers/layout_provider.dart
  apps/one/lib/presentation/layouts/strategy/compact_layout_strategy.dart
  apps/one/lib/presentation/layouts/strategy/detailed_layout_strategy.dart
  apps/one/lib/presentation/layouts/strategy/layout_strategy.dart
  apps/one/lib/presentation/pages/entity_detail_page.dart
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/home_page.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/lib/presentation/theme/strategy/standard_theme_strategy.dart
  apps/one/lib/presentation/theme/strategy/theme_strategy.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_collection_view.dart
  apps/one/lib/presentation/widgets/layout/semantic_layout_requirements.dart
  apps/one/lib/presentation/widgets/layout/web/entity_detail_page.dart
  apps/one/lib/presentation/widgets/samples/holy_trinity_sample.dart
  apps/one/lib/presentation/widgets/semantic_concept_container.dart
  apps/one/lib/presentation/widgets/tools/README.md
  apps/one/lib/presentation/widgets/tools/fix_bloc_warnings.dart
  apps/one/lib/presentation/widgets/tools/fix_dead_code.dart
  apps/one/lib/presentation/widgets/tools/fix_opacity_api.dart
  apps/one/lib/presentation/widgets/tools/fix_unused_imports.dart
  apps/one/lib/presentation/widgets/tools/fix_unused_variables.dart
  apps/one/lib/presentation/widgets/tools/run_cleanup.sh
  apps/one/lib/presentation/widgets/tools/update_material_apis.dart
Due: EDNetOne CI

feat(one): enhance ModelDetailPage and related components with semantic layout and spacing
  apps/one/lib/presentation/pages/model_detail_page.dart
  apps/one/lib/presentation/theme/extensions/theme_spacing.dart
  apps/one/lib/presentation/widgets/entity/entities_widget.dart
  apps/one/lib/presentation/widgets/entity/entity_collection_view.dart
  apps/one/lib/presentation/widgets/entity/entity_widget.dart
  apps/one/lib/presentation/widgets/semantic_concept_container.dart
  lib/presentation/pages/home/home_page.dart
Due: EDNetOne CI

feat(one): refactor presentation layer with modular architecture and enhanced navigation
  apps/one/lib/main.dart
  apps/one/lib/presentation/ARCHITECTURE.md
  apps/one/lib/presentation/FOLLOWUP.md
  apps/one/lib/presentation/MEMORY.md
  apps/one/lib/presentation/MIGRATION-PLAN.md
  apps/one/lib/presentation/layouts/app_module.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/domain_explorer/domain_detail_view.dart
  apps/one/lib/presentation/modules/domain_explorer/domain_explorer_module.dart
  apps/one/lib/presentation/modules/model_manager/model_detail_view.dart
  apps/one/lib/presentation/modules/model_manager/model_manager_module.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/home/concept_selector.dart
  apps/one/lib/presentation/pages/home/domain_selector.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/home/model_selector.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/domain_selection/domain_selection_event.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_bloc.dart
  apps/one/lib/presentation/state/blocs/model_selection/model_selection_event.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/lib/presentation/widgets/breadcrumb/breadcrumb.dart
  apps/one/lib/presentation/widgets/card/enhanced_card.dart
  apps/one/lib/presentation/widgets/list/enhanced_list_item.dart
Due: EDNetOne CI

feat(one): introduce immersive workspace feature with modular components
  apps/one/lib/main.dart
  apps/one/lib/presentation/pages/home/home_app_bar.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/pages/workspace/immersive_workspace_page.dart
  apps/one/lib/presentation/widgets/workspace/concept_workspace_card.dart
  apps/one/lib/presentation/widgets/workspace/domain_workspace_card.dart
  apps/one/lib/presentation/widgets/workspace/immersive_workspace_container.dart
  apps/one/lib/presentation/widgets/workspace/model_workspace_card.dart
Due: EDNetOne CI

feat(one): enhance entity management and persistence features
  apps/one/lib/domain/extensions/domain_model_extensions.dart
  apps/one/lib/domain/extensions/one_application_persistence_extension.dart
  apps/one/lib/domain/providers/entity_provider.dart
  apps/one/lib/domain/repositories/entity_repository.dart
  apps/one/lib/domain/repositories/entity_repository_impl.dart
  apps/one/lib/domain/repositories/serializable_entity_repository.dart
  apps/one/lib/domain/repositories/serializable_repository_factory.dart
  apps/one/lib/domain/services/persistence_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/di/bloc_providers.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/domain_modeler/domain_model_editor.dart
  apps/one/lib/presentation/pages/domain_modeler/domain_modeler_page.dart
  apps/one/lib/presentation/pages/examples/entity_persistence_example_page.dart
  apps/one/lib/presentation/pages/home/home_drawer.dart
  apps/one/lib/presentation/state/blocs/entity/entity_bloc.dart
  apps/one/lib/presentation/state/blocs/entity/entity_event.dart
  apps/one/lib/presentation/state/blocs/entity/entity_state.dart
  apps/one/lib/presentation/widgets/entity/entity_dialog.dart
  apps/one/lib/presentation/widgets/entity/entity_form.dart
  apps/one/lib/presentation/widgets/workspace/concept_workspace_card.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

feat(one): introduce Model Instance Management features
  apps/one/lib/domain/services/model_instance_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/layouts/app_shell.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/model_instance/model_instance_page.dart
  packages/core/lib/domain/infrastructure/persistence/shared_preferences_repository.dart
  packages/core/lib/domain/infrastructure/repository.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): add Live Preview Editor and enhance domain modeling capabilities
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/pages/domain_modeler/live_preview_editor.dart
  apps/one/lib/presentation/pages/live_preview_editor/live_preview_editor.dart
  apps/one/lib/presentation/pages/model_instance/preview_widgets/feed_preview.dart
  apps/one/pubspec.yaml
Due: EDNetOne CI

Add fixes for Project Management module implementation
  apps/one/lib/domain/repositories/entity_repository.dart
  apps/one/lib/domain/repositories/entity_repository_impl.dart
  apps/one/lib/generated/one_application.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/modules/module_registry.dart
  apps/one/lib/presentation/navigation/navigation_service.dart
  apps/one/lib/presentation/pages/project_management/project_management_page.dart
  apps/one/lib/presentation/theme/extensions/theme_extensions.dart
  apps/one/lib/presentation/theme/providers/theme_provider.dart
  apps/one/macos/Podfile.lock
Due: EDNetOne CI

feat(ednet_core_flutter): introduce foundational components for EDNet Shell Architecture
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/MEMORY.md
  packages/ednet_core_flutter/lib/src/shell/README.md
  packages/ednet_core_flutter/lib/src/shell/configuration_injector.dart
  packages/ednet_core_flutter/lib/src/shell/example/client_app_example.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/ui/README.md
  packages/ednet_core_flutter/lib/src/ui/adapter_registry.dart
  packages/ednet_core_flutter/lib/src/ui/canonical_model_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/default_form_builder.dart
  packages/ednet_core_flutter/lib/src/ui/disclosure_level.dart
  packages/ednet_core_flutter/lib/src/ui/domain_model_visualizer.dart
  packages/ednet_core_flutter/lib/src/ui/example/project_ux_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/extensions/entity_ux_extension.dart
  packages/ednet_core_flutter/lib/src/ui/factory/entity_factory.dart
  packages/ednet_core_flutter/lib/src/ui/field_descriptor.dart
  packages/ednet_core_flutter/lib/src/ui/messages/message.dart
  packages/ednet_core_flutter/lib/src/ui/messages/ux_channel.dart
  packages/ednet_core_flutter/lib/src/ui/messages/ux_message.dart
  packages/ednet_core_flutter/lib/src/ui/ui_module.dart
  packages/ednet_core_flutter/lib/src/ui/ux_adapter.dart
  packages/ednet_core_flutter/lib/src/ui/ux_component_filter.dart
  packages/ednet_core_flutter/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

feat(core): introduce utility classes for core functionalities
  packages/core/lib/domain/core/constants.dart
  packages/core/lib/domain/core/random_id.dart
  packages/core/lib/domain/core/time.dart
  packages/core/lib/domain/core/type.dart
  packages/core/lib/domain/core/validation.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/patterns/canonical/canonical_model.dart
  packages/core/lib/domain/patterns/filter/ednet_core_message_filter.dart
  packages/core/lib/ednet_core.dart
  packages/core/pubspec.yaml
  packages/core/test/domain/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore(core_patterns): remove deprecated files and clean up package structure
  packages/core_patterns/ednet_core_patterns/.gitignore
  packages/core_patterns/ednet_core_patterns/CHANGELOG.md
  packages/core_patterns/ednet_core_patterns/README.md
  packages/core_patterns/ednet_core_patterns/example/ednet_core_patterns_example.dart
  packages/core_patterns/ednet_core_patterns/lib/ednet_core_patterns.dart
  packages/core_patterns/ednet_core_patterns/lib/src/INDEX.md
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_base.dart
  packages/core_patterns/ednet_core_patterns/lib/src/ednet_core_patterns_eip_tasks.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/aggregator/aggregator.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/canonical/canonical_model.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/channel/adapter/channel_adapter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/base_message.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/channel.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_models.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/common/http_types.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/ednet_core_message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/filter.dart
  packages/core_patterns/ednet_core_patterns/lib/src/patterns/filter/message_filter.dart
  packages/core_patterns/ednet_core_patterns/pubspec.yaml
  packages/core_patterns/ednet_core_patterns/test/ednet_core_patterns_test.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/channel_test_adapters_test.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/channel/adapter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_domain.dart
  packages/core_patterns/ednet_core_patterns/test/mocks/patterns/filter/filter_entities.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/aggregator/aggregator_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/canonical/canonical_model_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/channel/channel_adapter_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter.memory.md
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_ednet_core_test.dart
  packages/core_patterns/ednet_core_patterns/test/patterns/filter/message_filter_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(tests): streamline command runner tests for clarity and consistency
  tools/apdf/test/src/command_runner_test.dart
  tools/apdf/test/src/commands/update_command_test.dart
Due: none

delete(home_page): remove unused home_page.dart file to streamline codebase
  lib/presentation/pages/home/home_page.dart
Due: none

feat(dependencies): update package dependencies and add new packages
  melos.yaml
  packages/types/pubspec.lock
  packages/types/test/ednet_core/types/ednet_core_types_type_test.dart
  pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

refactor(domain-model): update EDNetOne description and adjust application rules
  .cursor/rules/domain-model.mdc
  .cursor/rules/testing-qa.mdc
  .cursor/rules/user-experience.mdc
Due: none

feat(theme): implement comprehensive theming system for EDNet Core Flutter
  packages/ednet_core_flutter/README-THEME.md
  packages/ednet_core_flutter/README.md
  packages/ednet_core_flutter/THEME-MIGRATION.md
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/ui/theme/components/cheerful_theme_component.dart
  packages/ednet_core_flutter/lib/src/ui/theme/components/cli_theme_component.dart
  packages/ednet_core_flutter/lib/src/ui/theme/components/custom_colors.dart
  packages/ednet_core_flutter/lib/src/ui/theme/components/theme_component.dart
  packages/ednet_core_flutter/lib/src/ui/theme/extensions/disclosure_level_theme_extension.dart
  packages/ednet_core_flutter/lib/src/ui/theme/extensions/semantic_colors_extension.dart
  packages/ednet_core_flutter/lib/src/ui/theme/extensions/theme_extensions.dart
  packages/ednet_core_flutter/lib/src/ui/theme/extensions/theme_spacing.dart
  packages/ednet_core_flutter/lib/src/ui/theme/theme.dart
  packages/ednet_core_flutter/lib/src/ui/theme/theme_constants.dart
  packages/ednet_core_flutter/lib/src/ui/theme/theme_service.dart
  packages/ednet_core_flutter/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

feat(project): enhance project management features and introduce new entity forms
  apps/one/lib/domain/entities/project_entity.dart
  apps/one/lib/domain/services/MEMORY.md
  apps/one/lib/domain/services/model_instance_service.dart
  apps/one/lib/domain/services/persistence_service.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/providers/project_provider.dart
  apps/one/lib/presentation/widgets/domain_model_editor.dart
  apps/one/lib/presentation/widgets/entity_form.dart
  apps/one/lib/presentation/widgets/project_entity_form.dart
  apps/one/lib/presentation/widgets/project_form.dart
Due: EDNetOne CI

feat(entities): add array-like access operator to Entities class
  packages/core/lib/domain/model/entity/entities.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(shell): introduce enhanced shell application with multi-domain support
  apps/one/lib/enhanced_shell.dart
  apps/one/lib/main.dart
  apps/one/lib/multi_domain_shell.dart
  packages/ednet_core_flutter/lib/ednet_core_flutter.dart
  packages/ednet_core_flutter/lib/src/shell/domain_navigator_multi.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app.dart
  packages/ednet_core_flutter/lib/src/shell/shell_app_domains.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
