Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

feat(one): Entity widget.
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Entities widget.
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Project One domain model extended with relations.
  apps/one/lib/generated/hausehold/finance/lib/household/finances/model.dart
  apps/one/lib/generated/hausehold/finance/test/household/finances/household_finances_finance_test.dart
  apps/one/lib/generated/hausehold/hausehold/lib/household/core/model.dart
  apps/one/lib/generated/hausehold/hausehold/test/household/core/household_core_household_test.dart
  apps/one/lib/generated/hausehold/member/lib/household/member/model.dart
  apps/one/lib/generated/hausehold/member/test/household/member/household_member_member_test.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/budgets.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/initiatives.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/milestones.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/model_entries.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/projects.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/resources.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/roles.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/skills.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/tasks.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/teams.dart
  apps/one/lib/generated/hausehold/project/lib/gen/household/project/times.dart
  apps/one/lib/generated/hausehold/project/lib/household/project/json/data.dart
  apps/one/lib/generated/hausehold/project/lib/household/project/json/model.dart
  apps/one/lib/generated/hausehold/project/lib/household/project/model.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_budget_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_initiative_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_milestone_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_project_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_resource_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_role_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_skill_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_task_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_team_test.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_time_test.dart
  apps/one/lib/generated/user/library/lib/user/library/model.dart
  apps/one/lib/generated/user/library/test/user/library/user_library_library_test.dart
  apps/one/lib/requirements/hausehold/project.ednet.yaml
Due: EDNetOne CI

feat(one): Navigable Entity.
  apps/one/lib/presentation/household_management/blocs/layout_block.dart
  apps/one/lib/presentation/household_management/blocs/layout_event.dart
  apps/one/lib/presentation/household_management/blocs/layout_state.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Navigable domains and models init.
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/header_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Display Domains.
  apps/one/lib/generated/hausehold/project/lib/household/project/model.dart
  apps/one/lib/presentation/household_management/one_core_repository.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/right_sidebar_widget.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/entity/interfaces/i_entity.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Update ednet_core README.md
  packages/core/README.md
Due: none

Clean .dart-tool.
  .dart_tool/package_config.json
Due: none

Update rfc-ednetcore-meta-framework.md
  rfcs/rfc-ednetcore-meta-framework.md
Due: none

Proposal for Collaboration on `ednet_core`, a `domain` `model` meta framework (#6)
  rfcs/README.md
  rfcs/rfc-ednetcore-meta-framework.md
Due: none

AVLTree
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

Lint fix.
  packages/core/lib/gen/concet_gen.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Graph with algorithms
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

Create files.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/a_v_l_tree.dart
  apps/one/lib/presentation/widgets/layout/graph/animation.dart
  apps/one/lib/presentation/widgets/layout/graph/animation_manager.dart
  apps/one/lib/presentation/widgets/layout/graph/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/component.dart
  apps/one/lib/presentation/widgets/layout/graph/dijkstra_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/edge.dart
  apps/one/lib/presentation/widgets/layout/graph/force_directed_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/game_loop.dart
  apps/one/lib/presentation/widgets/layout/graph/graph.dart
  apps/one/lib/presentation/widgets/layout/graph/graph_traversal.dart
  apps/one/lib/presentation/widgets/layout/graph/grid_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/highlight_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/layout_algorithm_icon.dart
  apps/one/lib/presentation/widgets/layout/graph/layout_algorithm_type.dart
  apps/one/lib/presentation/widgets/layout/graph/m_s_t_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/master_detail_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/meta_domain_painter.dart
  apps/one/lib/presentation/widgets/layout/graph/network_flow_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/node.dart
  apps/one/lib/presentation/widgets/layout/graph/node_type.dart
  apps/one/lib/presentation/widgets/layout/graph/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/render_component.dart
  apps/one/lib/presentation/widgets/layout/graph/system.dart
  apps/one/lib/presentation/widgets/layout/graph/tooltip_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/tree_node.dart
  apps/one/lib/presentation/widgets/layout/graph/u_x_decorator.dart
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
Due: EDNetOne CI

Graph
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

feat(one): Improve Entity rendering.
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat(one): Implement dark and light theme.
  apps/one/lib/main.dart
  apps/one/lib/presentation/household_management/blocs/theme_block.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/theme.dart
  apps/one/lib/presentation/household_management/widgets/layout/footer_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/header_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/right_sidebar_widget.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

chore(core): Remove example User.
  packages/core/lib/domain/bounded_context.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Clean files.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/a_v_l_tree.dart
  apps/one/lib/presentation/widgets/layout/graph/animation_manager.dart
  apps/one/lib/presentation/widgets/layout/graph/dijkstra_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/force_directed_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/graph_traversal.dart
  apps/one/lib/presentation/widgets/layout/graph/highlight_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/layout_algorithm_icon.dart
  apps/one/lib/presentation/widgets/layout/graph/m_s_t_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/network_flow_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/node.dart
  apps/one/lib/presentation/widgets/layout/graph/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/render_component.dart
  apps/one/lib/presentation/widgets/layout/graph/system.dart
  apps/one/lib/presentation/widgets/layout/graph/tooltip_decorator.dart
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
Due: EDNetOne CI

impl(one): Model.
  apps/one/lib/generated/household/finance/lib/household/finance/model.dart
  apps/one/lib/generated/household/finance/test/household/finance/household_finance_finance_test.dart
  apps/one/lib/generated/household/member/lib/household/member/model.dart
  apps/one/lib/generated/household/member/test/household/member/household_member_member_test.dart
  apps/one/lib/generated/one_application.dart
  apps/one/lib/generated/project/brainstorming/lib/project/brainstorming/model.dart
  apps/one/lib/generated/project/brainstorming/test/project/brainstorming/project_brainstorming_mind_map_test.dart
  apps/one/lib/generated/project/core/lib/project/core/model.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_budget_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_initiative_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_milestone_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_project_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_resource_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_role_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_skill_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_task_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_team_test.dart
  apps/one/lib/generated/project/core/test/project/core/project_core_time_test.dart
  apps/one/lib/generated/project/gtd/lib/project/gtd/model.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_calendar_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_clarified_item_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_context_list_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_inbox_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_next_action_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_project_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_review_test.dart
  apps/one/lib/generated/project/gtd/test/project/gtd/project_gtd_task_test.dart
  apps/one/lib/generated/project/kanban/lib/project/kanban/model.dart
  apps/one/lib/generated/project/kanban/test/project/kanban/project_kanban_library_test.dart
  apps/one/lib/generated/project/planning/lib/project/planning/model.dart
  apps/one/lib/generated/project/planning/test/project/planning/project_planning_plan_test.dart
  apps/one/lib/generated/project/scheduling/lib/project/scheduling/model.dart
  apps/one/lib/generated/project/scheduling/test/project/scheduling/project_scheduling_closing_phase_test.dart
  apps/one/lib/generated/project/scheduling/test/project/scheduling/project_scheduling_execution_phase_test.dart
  apps/one/lib/generated/project/scheduling/test/project/scheduling/project_scheduling_initiation_phase_test.dart
  apps/one/lib/generated/project/scheduling/test/project/scheduling/project_scheduling_monitoring_and_controlling_phase_test.dart
  apps/one/lib/generated/project/scheduling/test/project/scheduling/project_scheduling_planning_phase_test.dart
  apps/one/lib/generated/project/user/lib/project/user/model.dart
  apps/one/lib/generated/project/user/test/project/user/project_user_user_test.dart
Due: EDNetOne CI

Graph with game loop
  apps/one/lib/presentation/household_management/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

Fix imports.
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/a_v_l_tree.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/circular_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/dijkstra_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/force_directed_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/graph.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/graph_traversal.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/grid_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/m_s_t_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/master_detail_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/network_flow_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/algorithms/ranked_embedding_layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/animations/animation.dart
  apps/one/lib/presentation/widgets/layout/graph/animations/animation_manager.dart
  apps/one/lib/presentation/widgets/layout/graph/animations/game_loop.dart
  apps/one/lib/presentation/widgets/layout/graph/components/component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/edge.dart
  apps/one/lib/presentation/widgets/layout/graph/components/layout_algorithm_icon.dart
  apps/one/lib/presentation/widgets/layout/graph/components/node.dart
  apps/one/lib/presentation/widgets/layout/graph/components/node_type.dart
  apps/one/lib/presentation/widgets/layout/graph/components/position_component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/render_component.dart
  apps/one/lib/presentation/widgets/layout/graph/components/system.dart
  apps/one/lib/presentation/widgets/layout/graph/components/tree_node.dart
  apps/one/lib/presentation/widgets/layout/graph/decorators/highlight_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/decorators/tooltip_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/decorators/u_x_decorator.dart
  apps/one/lib/presentation/widgets/layout/graph/layout/layout_algorithm.dart
  apps/one/lib/presentation/widgets/layout/graph/layout/layout_algorithm_type.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_painter.dart
Due: EDNetOne CI

impl(core): Filter Criteria.
  packages/core/bounded_context/application/application_service.dart
  packages/core/lib/domain/application/application_service/application_service.dart
  packages/core/lib/domain/bounded_context.dart
  packages/core/lib/domain/infrastructure/repository/interfaces/i_repository.dart
  packages/core/lib/domain/model/bounded_contexts/bounded_context.dart
  packages/core/lib/domain/model/criteria/filter_criteria.dart
  packages/core/lib/domain/model/value_object/value_object.dart
  packages/core/lib/ednet_core.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Icon active on load.
  apps/one/lib/presentation/widgets/layout/graph/components/layout_algorithm_icon.dart
  apps/one/lib/presentation/widgets/layout/graph/painters/meta_domain_canvas.dart
Due: EDNetOne CI

impl(one): README.md
  apps/one/README.md
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
Due: EDNetOne CI

impl(one): Update requirements.
  apps/one/lib/requirements/hausehold/finance.ednet.yaml
  apps/one/lib/requirements/hausehold/hausehold.ednet.yaml
  apps/one/lib/requirements/hausehold/member.ednet.yaml
  apps/one/lib/requirements/hausehold/project.ednet.yaml
  apps/one/lib/requirements/project/brainstorming.ednet.yaml
  apps/one/lib/requirements/project/core.ednet.yaml
  apps/one/lib/requirements/project/gtd.ednet.yaml
  apps/one/lib/requirements/project/kanban.ednet.yaml
  apps/one/lib/requirements/project/planning.ednet.yaml
  apps/one/lib/requirements/project/user.ednet.yaml
  apps/one/lib/requirements/user/library.ednet.yaml
Due: EDNetOne CI

Alg
  apps/one/lib/presentation/widgets/layout/graph/meta_domain_canvas.dart
Due: EDNetOne CI

Graph
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
Due: EDNetOne CI

Alg
  apps/one/lib/presentation/screens/home_page.dart
Due: EDNetOne CI

Theme
  apps/one/lib/main.dart
  apps/one/lib/presentation/blocs/layout_block.dart
  apps/one/lib/presentation/blocs/layout_event.dart
  apps/one/lib/presentation/blocs/layout_initial.dart
  apps/one/lib/presentation/blocs/layout_state.dart
  apps/one/lib/presentation/blocs/theme_block.dart
  apps/one/lib/presentation/screens/domain_detail_screen.dart
  apps/one/lib/presentation/screens/domains_widget.dart
  apps/one/lib/presentation/screens/entries_sidebar_widget.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/screens/model_detail_screen.dart
  apps/one/lib/presentation/theme.dart
  apps/one/lib/presentation/widgets/layout/alternative/alternative_layout.dart
  apps/one/lib/presentation/widgets/layout/graph/meta_domain_canvas.dart
  apps/one/lib/presentation/widgets/layout/i_domain_layout.dart
  apps/one/lib/presentation/widgets/layout/web/footer_widget.dart
  apps/one/lib/presentation/widgets/layout/web/header_widget.dart
  apps/one/lib/presentation/widgets/layout/web/layout_template.dart
  apps/one/lib/presentation/widgets/layout/web/left_sidebar_widget.dart
  apps/one/lib/presentation/widgets/layout/web/main_content_widget.dart
  apps/one/lib/presentation/widgets/layout/web/responsive_layout.dart
  apps/one/lib/presentation/widgets/layout/web/right_sidebar_widget.dart
Due: EDNetOne CI

impl: Render all domains in right panel.
  apps/one/lib/generated/hausehold/finance/lib/finance/household/model.dart
  apps/one/lib/generated/hausehold/finance/test/finance/household/finance_household_finance_test.dart
  apps/one/lib/generated/hausehold/finance/test/finance/household/finance_household_gen.dart
  apps/one/lib/generated/hausehold/finance/web/finance/household/finance_household_web.dart
  apps/one/lib/generated/hausehold/hausehold/lib/household/core/model.dart
  apps/one/lib/generated/hausehold/hausehold/test/household/core/household_core_gen.dart
  apps/one/lib/generated/hausehold/hausehold/test/household/core/household_core_household_test.dart
  apps/one/lib/generated/hausehold/hausehold/web/household/core/household_core_web.dart
  apps/one/lib/generated/hausehold/member/lib/member/household/model.dart
  apps/one/lib/generated/hausehold/member/test/member/household/member_household_gen.dart
  apps/one/lib/generated/hausehold/member/test/member/household/member_household_member_test.dart
  apps/one/lib/generated/hausehold/member/web/member/household/member_household_web.dart
  apps/one/lib/generated/user/library/test/library/user/library_user_gen.dart
  apps/one/lib/generated/user/library/test/library/user/library_user_library_test.dart
  apps/one/lib/generated/user/library/web/library/user/library_user_web.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
Due: EDNetOne CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
