Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

codemagic.yaml:

workflows:
  endet_one_app_ci:
    name: EDNetOne CI
    cache:
      cache_paths:
        - "$HOME/Library/Caches/CocoaPods\t"
        - "$HOME/.gradle/caches\t"
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "apps/**"
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: |
          melos run test:flutter
          
          # Upload results of failed golden tests if test command failed.
          if [ $? -ne 0 ]; then
            # Finds all "failures" folders and copies them to the export
            # directory. Therefore, we are able to view the results of the
            # failed golden tests.
            #
            # The command will use the exit code 0 (success) even when there are
            # no failures folders.
            find * -path '**/failures' -execdir bash -c "cp -r failures $FCI_EXPORT_DIR" \;
          
            # Because we caught the exit code of the test command, we need to
            # set manually again.
            exit 1
          fi


  endet_cms_pub_ci:
    name: EDNetCMS Pub CI
    cache:
      cache_paths:
        - "$FLUTTER_ROOT/.pub-cache\t"
    instance_type: mac_mini_m1
    # Setting the timeout for a build to 15 minutes.
    max_build_duration: 15
    environment:
      # Using the latest Flutter version.
      flutter: stable
      groups:
        - ednet_dev

    # This workflow should trigger when a new pull request opens or updates.
    triggering:
      events:
        - pull_request
    when:
      changeset:
        includes:
          # Only run the CI when a file in one of the following directories
          # changed.
          - "packages/**"
          - "codemagic.yaml"
        excludes:
          # Don't run the CI when only .md files changed.
          - "**/*.md"
    scripts:
      - name: Add Dart SDK to PATH
        script: |
          echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
          echo PATH="$PATH":"$FLUTTER_ROOT/bin" >> $CM_ENV

      - name: Melos Bootstrap
        script: |
          dart pub global activate melos
          melos bootstrap

      - name: Run Analyze
        script: melos run analyze

      - name: Run Format
        script: melos run format

      - name: Run Tests
        script: melos run test:dart

      - name: Publish to pub.dev
        script: |
          echo $PUB_DEV_CREDENTIALS > "$FLUTTER_ROOT/.pub-cache/credentials.json"
          melos run publish_cms_to_pub_dry
          melos run publish_cms_to_pub

Multi themes.
  apps/one/lib/main.dart
  apps/one/lib/presentation/blocs/theme_block.dart
  apps/one/lib/presentation/blocs/theme_event.dart
  apps/one/lib/presentation/screens/home_page.dart
  apps/one/lib/presentation/theme.dart
Due: EDNetOne CI

CLI Theme
  apps/one/lib/presentation/theme.dart
Due: EDNetOne CI

CMS README.md.
  README.md
Due: none

Increment domain model.
  apps/one/lib/generated/global_democracy/electoral_system/lib/gen/global_democracy/electoral_system/citizens.dart
  apps/one/lib/generated/global_democracy/electoral_system/lib/global_democracy/electoral_system/json/model.dart
  apps/one/lib/generated/global_democracy/electoral_system/lib/global_democracy/electoral_system/model.dart
  apps/one/lib/generated/global_democracy/electoral_system/test/global_democracy/electoral_system/global_democracy_electoral_system_citizen_test.dart
  apps/one/lib/requirements/global_democracy/electoral_system.ednet.yaml
Due: EDNetOne CI

Init expressions.
  packages/core/lib/domain/model/commands/interfaces/i_basic_command.dart
  packages/core/lib/domain/model/commands/interfaces/i_command.dart
  packages/core/lib/domain/model/event/event.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_engine.dart
  packages/core/lib/domain/session.dart
  packages/core/lib/ednet_core.dart
  packages/core/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Default Success and Failure events for IBasicCommand.
  packages/core/lib/domain/model/commands/interfaces/i_basic_command.dart
  packages/core/lib/domain/model/commands/interfaces/i_command.dart
  packages/core/lib/domain/model/event/event.dart
  packages/core/lib/domain/model/policy/policy_engine.dart
  packages/types/lib/wc/entities_table_wc/entities_table.dart
  packages/types/lib/wc/entities_table_wc/entity_table.dart
  packages/types/pubspec.lock
  packages/types/pubspec.yaml
  packages/types/web/ednet_core_types.html
  packages/types/web/index.html
Due: EDNetOne CI, EDNetCMS Pub CI

Run in browser.
  packages/types/lib/ednet_core_types.dart
  packages/types/web/index.html
  packages/types/web/main.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Init C4.
  packages/cms/doc/c4/Code Generator Components.plantuml
  packages/cms/doc/c4/Event Sourcing Components.plantuml
  packages/cms/doc/c4/Level 1 System Context Diagram.plantuml
  packages/cms/doc/c4/Level 2 Container Diagram.plantuml
  packages/cms/doc/c4/Level 3 Component Diagram.plantuml
  packages/cms/doc/c4/Repository Components.plantuml
  packages/cms/doc/c4/Validation Component.plantuml
Due: EDNetOne CI, EDNetCMS Pub CI

Move docs.
  doc/c4/Code Generator Components.plantuml
  doc/c4/Event Sourcing Components.plantuml
  doc/c4/Level 1 System Context Diagram.plantuml
  doc/c4/Level 2 Container Diagram.plantuml
  doc/c4/Level 3 Component Diagram.plantuml
  doc/c4/Repository Components.plantuml
  doc/c4/Validation Component.plantuml
Due: none

Add Expressions.
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
Due: EDNetOne CI

37 publish documentation (#75)
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
  doc/c4/Code Generator Components.plantuml
  doc/c4/Event Sourcing Components.plantuml
  doc/c4/Level 1 System Context Diagram.plantuml
  doc/c4/Level 2 Container Diagram.plantuml
  doc/c4/Level 3 Component Diagram.plantuml
  doc/c4/Repository Components.plantuml
  doc/c4/Validation Component.plantuml
  packages/core/lib/domain/model/commands/interfaces/i_basic_command.dart
  packages/core/lib/domain/model/commands/interfaces/i_command.dart
  packages/core/lib/domain/model/event/event.dart
  packages/core/lib/domain/model/policy/policy_engine.dart
  packages/types/lib/ednet_core_types.dart
  packages/types/lib/wc/entities_table_wc/entities_table.dart
  packages/types/lib/wc/entities_table_wc/entity_table.dart
  packages/types/pubspec.lock
  packages/types/pubspec.yaml
  packages/types/web/ednet_core_types.html
  packages/types/web/index.html
  packages/types/web/main.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Default Success and Failure events for IBasicCommand.
  packages/types/web/index.html
Due: EDNetOne CI, EDNetCMS Pub CI

Implement Basic Policy Framework.
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/domain/model/policy/policy_registry.dart
  packages/core/lib/domain/model/policy/policy_violation_exception.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

AttributePolicy.
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/entity/interfaces/i_entity.dart
  packages/core/lib/domain/model/policy/attribute_policy.dart.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

AttributePolicy also on parents and children.
  packages/core/lib/domain/model/policy/attribute_policy.dart.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

RelationshipPolicy.
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/domain/model/policy/relationship_policy.dart
  packages/core/lib/ednet_core.dart
  packages/core/lib/meta/concept.dart
  packages/core/test/mock/concrete_entity.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

CompositePolicy.
  packages/core/lib/domain/model/policy/composite_policy.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Basic debugging for policies.
  packages/core/lib/domain/model/policy/attribute_policy.dart.dart
  packages/core/lib/domain/model/policy/composite_policy.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/domain/model/policy/policy_registry.dart
  packages/core/test/mock/test_entity_base.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

PolicyScope.
  packages/core/lib/domain/model/policy/attribute_policy.dart.dart
  packages/core/lib/domain/model/policy/composite_policy.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/domain/model/policy/policy_registry.dart
  packages/core/lib/domain/model/policy/policy_scope.dart
  packages/core/lib/domain/model/policy/relationship_policy.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mock/test_entity_base.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

PolicyScope.
  packages/core/lib/domain/model/policy/composite_policy.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Develop CompositePolicy for combining multiple policies (#105)
  packages/core/lib/domain/model/policy/attribute_policy.dart.dart
  packages/core/lib/domain/model/policy/composite_policy.dart
  packages/core/lib/domain/model/policy/i_policy.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/domain/model/policy/policy_registry.dart
  packages/core/lib/domain/model/policy/policy_scope.dart
  packages/core/lib/domain/model/policy/relationship_policy.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mock/concrete_entity.dart
  packages/core/test/mock/test_entity_base.dart
  packages/core/test/policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

TimeBasedPolicy.
  packages/core/lib/domain/model/policy/time_based_policy.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mock/test_entity_base.dart
  packages/core/test/time_based_policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

TimeBasedPolicy. (#106)
  packages/core/lib/domain/model/policy/time_based_policy.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/mock/test_entity_base.dart
  packages/core/test/time_based_policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

TimeBasedPolicy scope is not required.
  packages/core/lib/domain/model/policy/time_based_policy.dart
Due: EDNetOne CI, EDNetCMS Pub CI

PolicyEvaluationTracer.
  packages/core/lib/domain/model/policy/policy_evaluation_tracer.dart
  packages/core/lib/domain/model/policy/policy_evaluator.dart
  packages/core/lib/domain/model/policy/policy_registry.dart
  packages/core/lib/ednet_core.dart
  packages/core/test/policy/policy_test.dart
  packages/core/test/policy/time_based_policy_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Model getOrderedEntryConcepts().
  apps/one/lib/presentation/screens/home_page.dart
  packages/core/lib/meta/models.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Refactor parts of code generation.
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/gen/ednet_concept_generic.dart
  packages/core/lib/gen/ednet_concept_specific.dart
  packages/core/lib/gen/ednet_domain_generic.dart
  packages/core/lib/gen/ednet_domain_specific.dart
  packages/core/lib/gen/ednet_library.dart
  packages/core/lib/gen/ednet_model_generic.dart
  packages/core/lib/gen/ednet_model_specific.dart
  packages/core/lib/gen/ednet_repository.dart
  packages/core/lib/gen/ednet_test.dart
  packages/core/lib/gen/ednet_web.dart
  packages/core/lib/gen/random.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Refactor parts of code generation.
  packages/code_generation/lib/src/doc_gen.dart
  packages/code_generation/lib/src/ednet_code_generator.dart
  packages/code_generation/lib/src/lib_gen.dart
  packages/code_generation/source_code.txt
Due: EDNetOne CI, EDNetCMS Pub CI

Refactor parts of code generation.
  packages/code_generation/doc/pubspec.txt
Due: EDNetOne CI, EDNetCMS Pub CI

Ignore .flutter-plugins and flutter-plugins-dependencies.
  packages/cms/.gitignore
Due: EDNetOne CI, EDNetCMS Pub CI

Blocs
  apps/one/.gitignore
  apps/one/lib/main.dart
  apps/one/macos/Runner/AppDelegate.swift
Due: EDNetOne CI

README.md
  packages/core/README.md
Due: none

Policies alpha
  melos.yaml
  packages/code_generation/bin/ednet_code_generation.dart
  packages/code_generation/dsl/schema/yaml/schema.json
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/gen/random.dart
  packages/core/lib/meta/domain.dart
  packages/core/lib/meta/models.dart
  packages/core/test/meta_model_test.dart
  pubspec.lock
Due: EDNetOne CI, EDNetCMS Pub CI
