Repository ednet-dev/cms: changes, and which Codemagic workflows are due for each by the changed paths.
All: EDNetOne CI, EDNetCMS Pub CI

EDNetOne CI:
  cache:
    cache_paths:
    - "$HOME/Library/Caches/CocoaPods\t"
    - "$HOME/.gradle/caches\t"
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
  scripts:
  - name: Add Dart SDK to PATH
  ...

EDNetCMS Pub CI:
  cache:
    cache_paths:
    - "$FLUTTER_ROOT/.pub-cache\t"
  instance_type: mac_mini_m1
  max_build_duration: 15
  environment:
    flutter: stable
    groups:
    - ednet_dev
  scripts:
  - name: Add Dart SDK to PATH
    script: 'echo PATH="$PATH":"$FLUTTER_ROOT/.pub-cache/bin" >> $CM_ENV
  
  ...

Generate PDF.
  tools/apdf/lib/src/commands/generate_pdf_command.dart
Due: none

Support txt file generation.
  tools/apdf/lib/src/commands/generate_pdf_command.dart
Due: none

WIP sync.
  .gitignore
  .vscode/launch.json
  pubspec.lock
  tools/apdf/lib/src/command_runner.dart
  tools/apdf/lib/src/commands/crawl_command.dart
  tools/apdf/pubspec.yaml
Due: none

WIP sync.
  apps/ednet_one/pubspec.lock
  packages/core/pubspec.yaml
  packages/ednet_code_generation/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

IDX init setup and autofixes.
  .idx/dev.nix
  .vscode/settings.json
  apps/ednet_one/android/build.gradle
  apps/ednet_one/lib/main.dart
  apps/ednet_one/lib/src/domain/project_management/project_management.dart
  apps/ednet_one/lib/src/ui/cms_graph/engines/first/first.dart
  apps/ednet_one/lib/src/ui/domains/domain_page.dart
  apps/ednet_one/pubspec.lock
  packages/ednet_cms/bin/watch.dart
  packages/ednet_cms/test/ednet_cms_test.dart
  tools/apdf/lib/src/commands/crawl_command.dart
  tools/apdf/lib/src/commands/generate_pdf_command.dart
  tools/apdf/test/src/command_runner_test.dart
  tools/apdf/test/src/commands/sample_command_test.dart
  tools/apdf/test/src/commands/update_command_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

sync: wip
  apps/ednet_one/lib/src/app.dart
  apps/ednet_one/lib/src/domain/direct_democracy/direct_democracy.dart
  apps/ednet_one/lib/src/ui/domains/direct_democracy_details_view.dart
  apps/ednet_one/pubspec.yaml
  packages/core/domain_model_definition/event_management.yaml
  packages/core/lib/domain/model/entity/entity.dart
  packages/core/lib/ednet_core.dart
  packages/core/lib/ednet_net.dart
  packages/core/lib/meta/property.dart
  packages/ednet_cms/build.yaml
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/generation/cms_builder.dart
  packages/ednet_cms/lib/src/generation/content_watcher_builder.dart
  packages/ednet_cms/lib/src/integrations/build.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/pubspec.yaml
  pubspec.lock
  pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

impl: domain model
  packages/core/lib/ednet_net.dart
  packages/core/lib/meta/attribute.dart
  packages/core/lib/meta/property.dart
Due: EDNetOne CI, EDNetCMS Pub CI

.gitignore
  .gitignore
Due: none

Lint fix.
  packages/analysis_options.yaml
  packages/content/context/ednet/project_management/focus_management/lib/focus/project/json/data.dart
  packages/content/context/ednet/project_management/focus_management/lib/focus_project.dart
  packages/content/context/ednet/project_management/focus_management/lib/gen/focus/i_domain_models.dart
  packages/content/context/ednet/project_management/focus_management/lib/gen/focus/project/model_entries.dart
  packages/content/context/ednet/project_management/focus_management/lib/repository.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_commitment_type_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_descision_engine_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_due_date_change_comment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_due_date_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_focus_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_gen.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_government_commitment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_priority_change_comment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_priority_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_private_commitment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_proffesional_commitment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_project_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_self_commitment_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_task_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_urgency_estimation_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_urgency_test.dart
  packages/content/context/ednet/project_management/focus_management/test/focus/project/focus_project_user_test.dart
  packages/content/context/ednet/project_management/focus_management/web/focus/project/focus_project_web.dart
  packages/core/lib/ednet_net.dart
  packages/core/lib/gen/concet_gen.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Remove redundant code.
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/domain/model/entity/entity.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Update EDNetOne.
  apps/ednet_one/domains/gamification.yaml
  apps/ednet_one/domains/gamification/core/goal.yaml
  apps/ednet_one/domains/gamification/direct_democracy.yaml
  apps/ednet_one/domains/gamification/project_management.yaml
  apps/ednet_one/ios/Flutter/AppFrameworkInfo.plist
  apps/ednet_one/ios/Runner.xcodeproj/project.pbxproj
  apps/ednet_one/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/ednet_one/ios/Runner/AppDelegate.swift
  apps/ednet_one/lib/src/domain/project_management/project_management.dart
  apps/ednet_one/macos/Runner.xcodeproj/project.pbxproj
  apps/ednet_one/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  apps/ednet_one/macos/Runner/AppDelegate.swift
  apps/ednet_one/pubspec.lock
  apps/ednet_one/pubspec.yaml
Due: EDNetOne CI

Update versions.
  packages/content/context/ednet/project_management/focus_management/pubspec.yaml
  packages/core/pubspec.yaml
  packages/core/test/meta_model_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Init vanilla builder.
  packages/ednet_cms/build.yaml
  packages/ednet_cms/lib/src/builders/hello_world_builder.dart
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

Init vanilla builder.
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/builders/hello_world_builder.dart
  packages/ednet_cms/lib/src/generation/cms_builder.dart
  packages/ednet_cms/lib/src/generation/content_watcher_builder.dart
  packages/ednet_cms/lib/src/integrations/build.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Hookup vanilla builder.
  apps/ednet_one/lib/src/app.dart
  apps/one/lib/domain/user.yaml
  apps/one/lib/generated/hello_world.dart
  packages/core/pubspec.yaml
  packages/ednet_cms/bin/pubspec.yaml
  packages/ednet_cms/build.yaml
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/builders/hello_world_builder.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
  packages/ednet_cms/pubspec.yaml
  packages/ednet_code_generation/pubspec.yaml
  pubspec.lock
Due: EDNetOne CI, EDNetCMS Pub CI

feat: Init One layout.
  .dart_tool/package_config.json
  apps/ednet_one/lib/src/ui/domains/direct_democracy_details_view.dart
  apps/one/lib/domain/user.yaml
  apps/one/lib/generated/hello_world.dart
  apps/one/lib/main.dart
  apps/one/lib/requirements/haushold_management/finance.ednet.yaml
  apps/one/lib/requirements/haushold_management/haushold.ednet.yaml
  apps/one/lib/requirements/haushold_management/project.ednet.yaml
  apps/one/lib/requirements/user_managment/user.ednet.yaml
  apps/one/pubspec.lock
  apps/one/pubspec.yaml
  packages/core/lib/utilities/dsl/bootstrap_domain_model_from_yaml.dart
  packages/ednet_cms/README.md
  packages/ednet_cms/build.yaml
  packages/ednet_cms/content/exampled.ednet.yaml
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/builders/cms_builder.dart
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
  packages/ednet_cms/lib/src/builders/domain_model_builder.dart
  packages/ednet_cms/lib/src/generation/cms_builder.dart
  packages/ednet_cms/lib/src/generation/content_watcher_builder.dart
  packages/ednet_cms/lib/src/integrations/build.dart
  packages/ednet_cms/lib/src/platforms/entity_widget.dart
  packages/ednet_cms/lib/src/requirements/example.ednet.yaml
  packages/ednet_cms/pubspec.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

ref(one): Put each layout artefact in own file.
  apps/one/lib/generated/hello_world.dart
  apps/one/lib/main.dart
  apps/one/lib/presentation/footer_widget.dart
  apps/one/lib/presentation/header_widget.dart
  apps/one/lib/presentation/layout_block.dart
  apps/one/lib/presentation/layout_event.dart
  apps/one/lib/presentation/layout_initial.dart
  apps/one/lib/presentation/layout_state.dart
  apps/one/lib/presentation/layout_template.dart
  apps/one/lib/presentation/left_sidebar_widget.dart
  apps/one/lib/presentation/main_content_widget.dart
  apps/one/lib/presentation/my_home_page.dart
  apps/one/lib/presentation/responsive_layout.dart
  apps/one/lib/presentation/right_sidebar_widget.dart
Due: EDNetOne CI

feat(one): Put each layout artefact in own folder.
  apps/one/lib/main.dart
  apps/one/lib/presentation/household_management/blocs/layout_block.dart
  apps/one/lib/presentation/household_management/blocs/layout_event.dart
  apps/one/lib/presentation/household_management/blocs/layout_initial.dart
  apps/one/lib/presentation/household_management/blocs/layout_state.dart
  apps/one/lib/presentation/household_management/pages/my_home_page.dart
  apps/one/lib/presentation/household_management/widgets/layout/footer_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/header_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/layout_template.dart
  apps/one/lib/presentation/household_management/widgets/layout/left_sidebar_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/main_content_widget.dart
  apps/one/lib/presentation/household_management/widgets/layout/responsive_layout.dart
  apps/one/lib/presentation/household_management/widgets/layout/right_sidebar_widget.dart
Due: EDNetOne CI

feat(one): Create domains as folder structure in generated folder.
  apps/one/lib/requirements/haushold_management/haushold_management.ednet.yaml
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(one): Preserve original required domain hierarchy.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

feat: Generate ednet_core domain model.
  apps/one/lib/requirements/hausehold_management/finance.ednet.yaml
  apps/one/lib/requirements/hausehold_management/hausehold_management.ednet.yaml
  apps/one/lib/requirements/hausehold_management/project.ednet.yaml
  apps/one/lib/requirements/haushold_management/haushold_management.ednet.yaml
  apps/one/lib/requirements/user_managment/user.ednet.yaml
  packages/core/lib/domain/model/transfer/json.dart
  packages/ednet_cms/bin/build_ednet_cms.dart
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
  packages/ednet_code_generation/bin/ednet_code_generation.dart
  packages/ednet_code_generation/lib/ednet_code_generation.dart
  packages/ednet_code_generation/lib/src/ednet_code_generator.dart
Due: EDNetOne CI, EDNetCMS Pub CI

ref: SRP.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
  packages/ednet_code_generation/lib/src/ednet_code_generator.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix: Yaml handling.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
  packages/ednet_code_generation/lib/src/ednet_code_generator.dart
Due: EDNetOne CI, EDNetCMS Pub CI

ref(core): Concept generation with template string.
  apps/one/lib/generated/hausehold_management/hausehold_management/lib/gen/household_management/household/model_entries.dart
  packages/core/lib/gen/concet_gen.dart
  packages/core/lib/gen/ednet_model_generic.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(ednet_cms): Generation only from requirements folder.
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(ednet_cms): Pub get on lib creation.
  apps/one/lib/generated/hausehold_management/finance/lib/gen/household_management/finances/model_entries.dart
  apps/one/lib/generated/hausehold_management/finance/lib/gen/household_management/i_domain_models.dart
  apps/one/lib/generated/hausehold_management/finance/lib/household_management/domain.dart
  apps/one/lib/generated/hausehold_management/finance/lib/household_management/finances/json/data.dart
  apps/one/lib/generated/hausehold_management/finance/test/household_management/finances/household_management_finances_gen.dart
  apps/one/lib/generated/hausehold_management/hausehold_management/lib/gen/household_management/i_domain_models.dart
  apps/one/lib/generated/hausehold_management/hausehold_management/lib/household_management/domain.dart
  apps/one/lib/generated/hausehold_management/hausehold_management/lib/household_management/household/json/data.dart
  apps/one/lib/generated/hausehold_management/hausehold_management/test/household_management/household/household_management_household_gen.dart
  apps/one/lib/generated/hausehold_management/project/lib/gen/household_management/i_domain_models.dart
  apps/one/lib/generated/hausehold_management/project/lib/gen/household_management/project/model_entries.dart
  apps/one/lib/generated/hausehold_management/project/lib/household_management/domain.dart
  apps/one/lib/generated/hausehold_management/project/lib/household_management/project/json/data.dart
  apps/one/lib/generated/hausehold_management/project/lib/household_management_project.dart
  apps/one/lib/generated/hausehold_management/project/test/household_management/project/household_management_project_gen.dart
  apps/one/lib/generated/library/library/lib/gen/user/library/model_entries.dart
  apps/one/lib/requirements/hausehold/finance.ednet.yaml
  apps/one/lib/requirements/hausehold/hausehold.ednet.yaml
  apps/one/lib/requirements/hausehold/member.ednet.yaml
  apps/one/lib/requirements/hausehold/project.ednet.yaml
  apps/one/lib/requirements/user/library.ednet.yaml
  packages/ednet_cms/build.yaml
  packages/ednet_cms/lib/ednet_cms.dart
  packages/ednet_cms/lib/src/builders/content_watcher_builder.dart
  packages/ednet_cms/lib/src/builders/post_process_builder.dart
Due: EDNetOne CI, EDNetCMS Pub CI

fix(ednet_cms): Pub get on lib creation.
  packages/ednet_cms/build.yaml
Due: EDNetOne CI, EDNetCMS Pub CI

break(core): Ignore uniqueness :/
  apps/one/lib/generated/hausehold/finance/lib/repository.dart
  apps/one/lib/generated/hausehold/finance/test/household/finances/household_finances_finance_test.dart
  apps/one/lib/generated/hausehold/hausehold/lib/repository.dart
  apps/one/lib/generated/hausehold/hausehold/test/household/core/household_core_household_test.dart
  apps/one/lib/generated/hausehold/member/lib/repository.dart
  apps/one/lib/generated/hausehold/member/test/household/member/household_member_member_test.dart
  apps/one/lib/generated/hausehold/project/lib/repository.dart
  apps/one/lib/generated/hausehold/project/test/household/project/household_project_project_test.dart
  apps/one/lib/generated/user/library/lib/repository.dart
  apps/one/lib/generated/user/library/test/user/library/user_library_library_test.dart
  apps/one/lib/main.dart
  packages/core/lib/domain/model/entity/entities.dart
  packages/core/lib/gen/ednet_repository.dart
  packages/core/lib/gen/ednet_test.dart
Due: EDNetOne CI, EDNetCMS Pub CI

Path conditions:
  EDNetOne CI: any of: apps/**, packages/**, codemagic.yaml, but not: **/*.md
  EDNetCMS Pub CI: any of: packages/**, codemagic.yaml, but not: **/*.md
